02_n8n-Workflows/_Backups/PF_WF-02_v18.3_2026-06-21_2105_pre-execTrigger.json
[{"updatedAt":"2026-06-08T16:59:15.000Z","createdAt":"2026-06-08T15:49:54.819Z","id":"OQIqADQvVPmFiUO6","name":"PF WF-02 Caption Generator v18.3","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## WF-02 v18.3 — Vollautomatik mit variablem Foto\n\n**Was tut dieser Workflow:**\nStündlich alle SharePoint-Items mit `Status=Entwurf` verarbeiten:\n1. Caption + Hashtags via Claude generieren\n2. HWG-Filter prüfen (Heilversprechen blockieren)\n3. **NEU v18.3:** Item-spezifisches Praxis-Foto aus SP fetchen + nach GitHub pushen\n4. HTML-Template rendern (Gotenberg) — Instagram + Facebook, jetzt mit variablem `{{BACKGROUND_PHOTO}}`\n5. Bilder in SharePoint Doc-Library `Social-Media-Assets` hochladen\n6. Status setzen: `Bereit` / `Geblockt` / `Wartet-auf-Avatar`\n\n**Avatar-Posts** (Reel/Übung/Story) parken bis `AVATAR_ENABLED=true`.\n\n**KEIN Teams-Wait** — Auto-Release. 24h-Karenz macht WF-03.\n\n**Build-Spec:** `02_n8n-Workflows/WF-02_v18.3_Foto-Branch_Spec.md`\n**Foto-Convention:** `04_Canva-Vorlagen/Foto-Convention.md`","height":380,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2560,416],"id":"26dffbf9-acc5-4f6d-92f2-d22e2376bb3d","name":"Doku: Overview"},{"parameters":{"content":"## Konstanten (in Code-Nodes dupliziert)\n\n```javascript\nconst AVATAR_ENABLED = false;\nconst AVATAR_PROVIDER = \"d-id\";\nconst AVATAR_ID = \"judith_v1\";\n\nconst GOTENBERG_URL = \"http://gotenberg:3000/forms/chromium/screenshot/html\";\n\nconst SP_SITE_URL = \"https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW\";\nconst SP_LIST_GUID = \"d17a6a6f-e6ef-457d-a2a9-4c30ea56120f\";\nconst SP_DOCLIB_GUID = \"c1f0a171-5df2-4c8b-9ab4-db3ed8e76266\";\nconst SP_DOCLIB_NAME = \"Social-Media-Assets\";\n\n// NEU v18.3: SP-Standort der Praxis-Fotos (verifiziert 2026-06-08)\n// Gleiche Site wie Content-Kalender, deutsche Library \"Freigegebene Dokumente\"\nconst SP_FOTOS_SITE = \"https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW\";\nconst SP_FOTOS_FOLDER_REL = \"/sites/PhysioFuchsTW/Freigegebene Dokumente/Socialmedia/Content_Socialmedia/Fotos/{year}\";\n\nconst REPO_RAW = \"https://raw.githubusercontent.com/twaese/Physio-Fuchs-Social-Media-Automation/main\";\nconst IG_TPL = REPO_RAW + \"/04_Canva-Vorlagen/html-templates/instagram/PF_Feed_Standard.html\";\nconst FB_TPL = REPO_RAW + \"/04_Canva-Vorlagen/html-templates/facebook/PF_Feed_FB_Standard.html\";\nconst FALLBACK_PHOTO = REPO_RAW + \"/04_Canva-Vorlagen/html-templates/assets/judith-behandlung-01.png\";\n```","height":660,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2576,1040],"id":"4119c4c9-267c-4700-a967-629b294561be","name":"Doku: Konstanten"},{"parameters":{"content":"## NEU v18.3: Foto-Branch\n\n**Vor `Code: HTML bauen (IG+FB)` eingeschoben.**\n\nLogik:\n1. **Foto-Pfad bauen** — Year + ItemID-3stellig\n2. **SP: Fotos listen** — alle Files im Jahres-Ordner\n3. **Foto-Match** — sucht `PF_{year}_{id}_*.{jpg|png}`\n4. **If: Foto gefunden?**\n   - true → Download → GitHub Body → GitHub Push → HTML bauen\n   - false → direkt HTML bauen (mit Fallback-URL)\n\n**Fallback-Kaskade:**\n- Item-Foto (wenn vorhanden)\n- ↓ Stock-Pool (TODO v18.4)\n- ↓ `judith-behandlung-01.png` (last resort)\n\nDetails: `WF-02_v18.3_Foto-Branch_Spec.md`","height":552,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"7f73780b-b1a9-4510-bb9e-2343e7bd695f","name":"Doku: v18.3 Foto-Branch"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2048,864],"id":"a0d0b03b-637f-48ac-910d-4fe6217abe8f","name":"Cron: stündlich"},{"parameters":{"resource":"item","site":{"__rl":true,"value":"physiofuchs889.sharepoint.com,c74040a2-0d6b-4385-b514-fbd9830a56ac,7a7842d6-ea6c-440d-aeed-580bdd2a091c","mode":"list","cachedResultName":"Physio Fuchs Administration"},"list":{"__rl":true,"value":"d17a6a6f-e6ef-457d-a2a9-4c30ea56120f","mode":"list","cachedResultName":"PF-Content-Kalender-2026"},"options":{"fields":["fields"]},"simplify":false,"requestOptions":{}},"type":"n8n-nodes-base.microsoftSharePoint","typeVersion":1,"position":[-1824,864],"id":"7507744a-8fe7-4e2f-90a5-cf5bbe494f42","name":"SP: Entwürfe holen","credentials":{"microsoftSharePointOAuth2Api":{"id":"jLaDM9Iq5mCQJkMU","name":"PF Microsoft SharePoint account"}}},{"parameters":{"jsCode":"// Validate + Route — Produktionsmodus\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const f = item.json.fields || {};\n  const postTyp = f.field_2 || f.Field_2 || '';\n  const status  = f.field_6 || f.Field_6 || '';\n  const itemId  = item.json.Ausweis || item.json.id || f.AUSWEIS || f.id;\n  const title   = f.Title || f.Titel || '';\n\n  if (status !== 'Entwurf') continue;\n  if (!postTyp) continue;\n\n  // Avatar noch nicht aktiv → diese Typen komplett überspringen\n  const avatarTypes = ['Reel', 'Übung', 'Story', 'Uebung'];\n  if (avatarTypes.includes(postTyp)) continue;\n  const branch = 'feed';\n\n  results.push({\n    json: {\n      _sp_item_id: itemId,\n      _post_typ: postTyp,\n      _branch: branch,\n      sp_fields: f,\n    }\n  });\n}\n\nreturn results.slice(0, 1);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,864],"id":"64258b34-eb71-4d46-ad40-f219a68e3f85","name":"Code: Validate + Route"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json._branch }}","rightValue":"feed","operator":{"type":"string","operation":"equals"},"id":"15321ac6-ae9f-47a2-8f77-aedf4f3ea948"}],"combinator":"and"},"renameOutput":true,"outputKey":"feed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json._branch }}","rightValue":"avatar","operator":{"type":"string","operation":"equals"},"id":"5b80995d-d2dd-464a-a791-70008308ecf1"}],"combinator":"and"},"renameOutput":true,"outputKey":"avatar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1376,864],"id":"ba83fbb8-8126-4fe8-aec4-817201f92a04","name":"Switch: Feed/Avatar"},{"parameters":{"jsCode":"// Build Claude Payload für Caption-Generierung\nconst f = $json.sp_fields;\nconst pt = $json._post_typ;\n\n// Echte Field-Namen aus SharePoint:\n//  field_1 = Thema, field_3 = Content_Brief, field_7 = Hashtag_Thema\nconst thema       = f.field_1 || '';\nconst contentBrief = f.field_3 || '';\nconst hashtagThema = f.field_7 || '';\n\nconst PROMPT = `Du bist Texter für die Physio Fuchs Praxis in Ratingen-Lintorf.\nErzeuge eine Instagram-Caption für folgenden Post-Brief.\n\nPost-Typ: ${pt}\nThema: ${thema}\nContent-Brief: ${contentBrief}\nHashtag-Thema: ${hashtagThema}\n\nTonalität-Regeln (verbindlich):\n- \"Sie\"-Form, professionell, sympathisch, motivierend\n- KEINE Heilversprechen — verboten: \"heilt\", \"garantiert\", \"kuriert\", \"schmerzfrei in X Tagen\", \"beseitigt\"\n- KEINE Diagnosen\n- Maximal 3 Emojis, sparsam, fachlich passend\n- Bei Übungen: Hinweis ergänzen \"Bei anhaltenden Beschwerden bitte ärztlich abklären lassen\"\n- Inklusiv (\"Patientinnen und Patienten\", nicht Gender-Stern)\n\nAntworte AUSSCHLIESSLICH als JSON, ohne Markdown-Wrapping:\n{\n  \"titel\": \"<Bild-Headline, max 50 Zeichen>\",\n  \"text\": \"<Bild-Body, 2-3 kurze Sätze, max 200 Zeichen>\",\n  \"cta\": \"<Bild-CTA, max 50 Zeichen>\",\n  \"caption\": \"<volle Instagram-Caption, 2-3 Absätze, endet mit Frage>\",\n  \"hashtags\": [\"#tag1\", \"#tag2\", \"...\"]\n}\nHashtags: 8-15 Stück, mind. 2 lokale (Ratingen / Lintorf).`;\n\nreturn [{\n  json: {\n    _passthrough: $json,\n    model: 'claude-sonnet-4-6',\n    max_tokens: 2048,\n    messages: [{ role: 'user', content: PROMPT }]\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,720],"id":"4ad8cb5b-6c40-455b-aa84-fd44ee766b6d","name":"Code: Build Claude Payload"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"{{ $json.model }}\",\n  \"max_tokens\": {{ $json.max_tokens }},\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,720],"id":"2b8d8132-73a5-46d8-8cfd-a1fc2d891d41","name":"HTTP: Claude Caption"},{"parameters":{"jsCode":"// Parse Claude-Response, JSON extrahieren\nconst resp = $json;\nconst raw = resp.content?.[0]?.text || resp.completion || '';\n\nlet parsed;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch (e) {\n  throw new Error('Claude-Response nicht JSON-parsebar: ' + raw.slice(0, 200));\n}\n\nconst pt = $node['Code: Build Claude Payload'].json._passthrough;\n\nreturn [{\n  json: {\n    ...pt,\n    titel:    parsed.titel    || '',\n    text:     parsed.text     || '',\n    cta:      parsed.cta      || '',\n    caption:  parsed.caption  || '',\n    hashtags: Array.isArray(parsed.hashtags) ? parsed.hashtags : [],\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,720],"id":"ef616318-b6e5-4a3e-87ea-24c700165095","name":"Code: Parse Claude"},{"parameters":{"jsCode":"// HWG-Filter: Caption gegen Heilversprechen-Blacklist prüfen\nconst HWG_PATTERNS = [\n  /\\bheilt\\b/i,\n  /\\bheilung\\b/i,\n  /\\bkuriert\\b/i,\n  /\\bgarantiert\\b/i,\n  /\\bgewährleistet?\\b/i,\n  /\\bverspricht\\b/i,\n  /\\bversprechen wir\\b/i,\n  /\\b(schmerzfrei|beschwerdefrei) in (\\d+|wenigen|kürzester) (tag|tage|tagen|woche|wochen)\\b/i,\n  /\\bwirkt (100 ?%|sicher|garantiert)\\b/i,\n  /\\bbeseitigt (schmerz|beschwerd|leiden)\\b/i,\n  /\\b(stellt|stellen wir) (ihre )?diagnose\\b/i,\n  /\\bbehandelt erfolgreich\\b/i,\n  /\\b(nebenwirkungsfrei|ohne nebenwirkungen)\\b/i,\n  /\\bbesser als (ärzt|operation|medikament)\\b/i,\n  /\\b(ersetzt|statt) (arzt|ärzt|operation|medikament)\\b/i,\n];\n\nconst f = $json;\nconst fullText = [f.titel, f.text, f.cta, f.caption].filter(Boolean).join(' ');\n\nconst matches = HWG_PATTERNS\n  .map(re => ({ pattern: re.source, hit: fullText.match(re) }))\n  .filter(x => x.hit);\n\nreturn [{\n  json: {\n    ...f,\n    _hwg_matches: matches.map(m => m.hit[0]),\n    _hwg_clean: matches.length === 0,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,720],"id":"c646de9a-b5ef-402a-b481-0307958f167a","name":"Code: HWG-Filter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json._hwg_clean }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true},"id":"d126991f-52e9-4e8a-8898-988600949de4"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,720],"id":"41334afc-6c90-4065-8794-92daff59822e","name":"If: HWG sauber?"},{"parameters":{"jsCode":"// === v18.3 Foto-Branch Node 1 ===\n// Berechnet Suchparameter für SP-Foto-Lookup.\nconst hwg = $('Code: HWG-Filter').first().json;\nconst validate = $('Code: Validate + Route').first().json;\n\nconst itemId = String(validate._sp_item_id).padStart(3, '0');\n\n// Jahr aus Veröffentlichungsdatum, sonst aktuelles Jahr\nconst datumRaw = hwg.sp_fields?.Ver_x00f6_ffentlichungsdatum;\nconst year = datumRaw ? new Date(datumRaw).getFullYear() : new Date().getFullYear();\n\n// SP-Pfad (verifiziert 2026-06-08): gleiche Site wie Content-Kalender\nconst SP_FOTOS_SITE = 'https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW';\nconst SP_FOTOS_FOLDER_REL = `/sites/PhysioFuchsTW/Freigegebene Dokumente/Socialmedia/Content_Socialmedia/Fotos/${year}`;\n\n// SP REST API URL für Folder-Listing\n// HINWEIS: SP-Pfad-Encoding ist tricky bei Leerzeichen. Wir nutzen einfaches Quoting,\n// nicht encodeURIComponent — sonst werden Slashes auch encodiert.\nconst sp_list_url = `${SP_FOTOS_SITE}/_api/web/GetFolderByServerRelativeUrl('${SP_FOTOS_FOLDER_REL}')/Files`;\n\nconst filename_prefix = `PF_${year}_${itemId}_`;\n\nreturn [{\n  json: {\n    itemId,\n    year,\n    sp_fotos_site: SP_FOTOS_SITE,\n    sp_fotos_folder_rel: SP_FOTOS_FOLDER_REL,\n    sp_list_url,\n    filename_prefix,\n    // Original-Daten durchreichen\n    ...hwg,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,640],"id":"dad52be3-1fc5-47f0-9c43-895d692d72e6","name":"Code: Foto-Pfad bauen"},{"parameters":{"url":"={{ $json.sp_list_url }}","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftSharePointOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json;odata=verbose"}]},"options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,640],"id":"b39d7358-5881-4923-8a1f-7b39b7885916","name":"HTTP: SP Fotos listen","credentials":{"microsoftSharePointOAuth2Api":{"id":"jLaDM9Iq5mCQJkMU","name":"PF Microsoft SharePoint account"}}},{"parameters":{"jsCode":"// === v18.3 Foto-Branch Node 3 ===\n// Sucht in SP-Folder-Listing die zur ItemID passende Foto-Datei.\nconst cfg = $('Code: Foto-Pfad bauen').first().json;\nconst prefix = cfg.filename_prefix;\n\n// SP-REST gibt Files in d.results zurück (verbose-Format)\nconst resp = $input.first().json || {};\nlet files = [];\nif (resp.d?.results) files = resp.d.results;\nelse if (Array.isArray(resp.value)) files = resp.value;\nelse if (Array.isArray(resp)) files = resp;\n\n// Match per Filename-Prefix\nconst matches = files\n  .filter(f => (f.Name || f.name || '').startsWith(prefix))\n  .sort((a, b) => (a.Name || a.name || '').localeCompare(b.Name || b.name || ''));\n\nconst REPO_RAW = 'https://raw.githubusercontent.com/twaese/Physio-Fuchs-Social-Media-Automation/main';\nconst FALLBACK_URL = `${REPO_RAW}/04_Canva-Vorlagen/html-templates/assets/judith-behandlung-01.png`;\n\nif (matches.length > 0) {\n  const m = matches[0];\n  const name = m.Name || m.name;\n  const serverRel = m.ServerRelativeUrl || m.serverRelativeUrl;\n  // Vorhersagbare GitHub-URL nach dem Push\n  const gh_path = `04_Canva-Vorlagen/html-templates/assets/photos/${name}`;\n  const gh_url = `${REPO_RAW}/${gh_path}`;\n\n  return [{\n    json: {\n      ...cfg,\n      photo_found: true,\n      photo_name: name,\n      photo_sp_server_rel: serverRel,\n      photo_gh_path: gh_path,\n      final_photo_url: gh_url,\n      _match_log: `Foto gefunden: ${name}`,\n    }\n  }];\n}\n\n// Kein Item-Foto → Fallback\nreturn [{\n  json: {\n    ...cfg,\n    photo_found: false,\n    photo_name: null,\n    final_photo_url: FALLBACK_URL,\n    _match_log: `Kein Item-Foto (prefix \"${prefix}\" in ${files.length} Files) → Fallback`,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,640],"id":"1dbdfa00-2350-403f-a828-0a32e031ecdb","name":"Code: Foto-Match"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.photo_found }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true},"id":"fb18a304-true-cond-0001-000000000001"}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,640],"id":"64d6bc29-46fd-49a6-a665-4e8210097dab","name":"If: Foto gefunden?"},{"parameters":{"url":"={{ $json.sp_fotos_site }}/_api/web/GetFileByServerRelativeUrl('{{ encodeURIComponent($json.photo_sp_server_rel) }}')/$value","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftSharePointOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"*/*"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,560],"id":"e166c70e-a0ec-4712-9031-e9b35a541711","name":"HTTP: SP Foto Download","credentials":{"microsoftSharePointOAuth2Api":{"id":"jLaDM9Iq5mCQJkMU","name":"PF Microsoft SharePoint account"}}},{"parameters":{"jsCode":"// === v18.3 Foto-Branch Node 5 ===\n// SP-Foto-Binary für GitHub-PUT vorbereiten.\nconst binary = $input.first().binary?.data;\nif (!binary || !binary.data) {\n  throw new Error('Kein Binary von SP-Foto-Download erhalten');\n}\n\nconst cfg = $('Code: Foto-Match').first().json;\n\nreturn [{\n  json: {\n    repo_path: cfg.photo_gh_path,\n    filename: cfg.photo_name,\n    public_url: cfg.final_photo_url,\n    github_body: {\n      message: `WF-02 v18.3: Praxis-Foto ${cfg.photo_name} für PF-${cfg.year}-${cfg.itemId}`,\n      content: binary.data,\n    },\n    _passthrough: cfg,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,560],"id":"7ab06190-beda-4f5f-ab47-94f276377f85","name":"Code: Foto → GitHub Body"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/twaese/Physio-Fuchs-Social-Media-Automation/contents/{{ $json.repo_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GITHUB_TOKEN }}"},{"name":"Accept","value":"application/vnd.github+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.github_body) }}","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,560],"id":"7883d57a-4151-4070-8bbc-e421908c959d","name":"HTTP: GitHub-Push Foto"},{"parameters":{"jsCode":"// === v18.3 Foto-Branch Node 7 (Merge nach IF-Branch) ===\n// Vereint True- und False-Pfad: nimmt final_photo_url, schiebt Daten weiter.\nconst inputs = $input.all();\n// Eines der beiden Items kommt durch — egal welches Branch.\nconst data = inputs[0]?.json || {};\n\n// final_photo_url ist in Code: Foto-Match gesetzt, in beiden Branches verfügbar\nconst matchData = $('Code: Foto-Match').first().json;\n\nreturn [{\n  json: {\n    ...matchData,\n    // Diagnose: woher kommt das Foto?\n    _foto_branch_taken: matchData.photo_found ? 'item-foto' : 'fallback',\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,640],"id":"d2a52cc3-fedb-4d01-a1f0-2c234006f9b8","name":"Code: Foto-URL final"},{"parameters":{"jsCode":"// HTML-Templates fetchen + Platzhalter füllen für IG und FB\n// v18.3: BACKGROUND_PHOTO-Platzhalter neu (variabel pro Content)\nconst REPO_RAW = 'https://raw.githubusercontent.com/twaese/Physio-Fuchs-Social-Media-Automation/main';\nconst IG_TPL = REPO_RAW + '/04_Canva-Vorlagen/html-templates/instagram/PF_Feed_Standard.html';\nconst FB_TPL = REPO_RAW + '/04_Canva-Vorlagen/html-templates/facebook/PF_Feed_FB_Standard.html';\nconst ASSETS_BASE = REPO_RAW + '/04_Canva-Vorlagen/html-templates/assets/';\nconst FALLBACK_PHOTO = REPO_RAW + '/04_Canva-Vorlagen/html-templates/assets/judith-behandlung-01.png';\n\nconst f = $json;\nconst datum = new Date().toLocaleDateString('de-DE', {\n  day: '2-digit', month: '2-digit', year: 'numeric'\n});\n\nasync function fetchTemplate(url) {\n  const r = await this.helpers.httpRequest({ method: 'GET', url, returnFullResponse: false });\n  return typeof r === 'string' ? r : (r.body || r);\n}\n\nfunction substitute(html, vars) {\n  // Asset-Pfade auf absolute GitHub-Raw-URLs umschreiben (NUR für Logo/Ginkgo etc.)\n  html = html.replace(/src=\"\\.\\.\\/assets\\//g, `src=\"${ASSETS_BASE}`);\n  // Platzhalter ersetzen\n  for (const [k, v] of Object.entries(vars)) {\n    html = html.replaceAll('{{' + k + '}}', String(v));\n  }\n  return html;\n}\n\nconst vars = {\n  TITEL: f.titel || '',\n  TEXT:  f.text  || '',\n  CTA:   f.cta   || '',\n  DATUM: datum,\n  // NEU v18.3: Hintergrund-Foto-URL aus Foto-Branch\n  BACKGROUND_PHOTO: f.final_photo_url || FALLBACK_PHOTO,\n};\n\nconst igTplRaw = await fetchTemplate.call(this, IG_TPL);\nconst fbTplRaw = await fetchTemplate.call(this, FB_TPL);\n\nconst igHtml = substitute(igTplRaw, vars);\nconst fbHtml = substitute(fbTplRaw, vars);\n\nreturn [{\n  json: {\n    ...f,\n    _datum: datum,\n    _bg_photo: vars.BACKGROUND_PHOTO,\n    _ig_html: igHtml,\n    _fb_html: fbHtml,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,640],"id":"3d5e9fb2-bd2e-4d72-82be-fa9fcb46ec96","name":"Code: HTML bauen (IG+FB)"},{"parameters":{"jsCode":"// HTML als Binary File für Gotenberg-Multipart verfügbar machen\nconst html = $json._ig_html;\nconst buffer = Buffer.from(html, 'utf8');\nreturn [{\n  json: $json,\n  binary: {\n    ig_html_file: await this.helpers.prepareBinaryData(buffer, 'index.html', 'text/html')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,560],"id":"42566a3e-de9e-4209-9e05-c894edca2865","name":"Code: IG HTML→Binary"},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/chromium/screenshot/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"ig_html_file"},{"name":"format","value":"png"},{"name":"width","value":"1080"},{"name":"height","value":"1350"},{"name":"optimizeForSpeed","value":"false"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,560],"id":"1595677d-8211-4130-b1d6-51afaca0b52b","name":"HTTP: Gotenberg IG"},{"parameters":{"method":"POST","url":"=https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW/_api/web/lists(guid'c1f0a171-5df2-4c8b-9ab4-db3ed8e76266')/RootFolder/Files/add(url='{{ $('Code: Validate + Route').item.json._sp_item_id }}_ig.png',overwrite=true)","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftSharePointOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json;odata=verbose"},{"name":"Content-Type","value":"application/octet-stream"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,560],"id":"e7f441a1-afc8-4751-afad-891b64d38c5b","name":"SP: Upload IG-Bild","credentials":{"microsoftSharePointOAuth2Api":{"id":"jLaDM9Iq5mCQJkMU","name":"PF Microsoft SharePoint account"}}},{"parameters":{"jsCode":"// HTML als Binary für FB-Gotenberg\nconst html = $node['Code: HTML bauen (IG+FB)'].json._fb_html;\nconst buffer = Buffer.from(html, 'utf8');\nreturn [{\n  json: $json,\n  binary: {\n    fb_html_file: await this.helpers.prepareBinaryData(buffer, 'index.html', 'text/html')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,720],"id":"5bc97d11-0829-4742-a116-0e44804b4d5e","name":"Code: FB HTML→Binary"},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/chromium/screenshot/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"fb_html_file"},{"name":"format","value":"png"},{"name":"width","value":"1080"},{"name":"height","value":"1080"},{"name":"optimizeForSpeed","value":"false"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,720],"id":"f7af526c-2bf1-403d-8a45-3e1fa0f0b5c0","name":"HTTP: Gotenberg FB"},{"parameters":{"method":"POST","url":"=https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW/_api/web/lists(guid'c1f0a171-5df2-4c8b-9ab4-db3ed8e76266')/RootFolder/Files/add(url='{{ $('Code: Validate + Route').item.json._sp_item_id }}_fb.png',overwrite=true)","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftSharePointOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json;odata=verbose"},{"name":"Content-Type","value":"application/octet-stream"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,720],"id":"64a30dce-9188-4929-8993-bf37d0ca500f","name":"SP: Upload FB-Bild","credentials":{"microsoftSharePointOAuth2Api":{"id":"jLaDM9Iq5mCQJkMU","name":"PF Microsoft SharePoint account"}}},{"parameters":{"jsCode":"// Gotenberg-Binary für GitHub-PUT vorbereiten (IG)\nconst binary = $input.first().binary?.data;\nif (!binary || !binary.data) {\n  throw new Error('Kein Binary von Gotenberg IG erhalten');\n}\n\nconst itemId = $('Code: Validate + Route').item.json._sp_item_id;\nconst ts = new Date().toISOString().replace(/[:T.]/g, '-').slice(0, 19);\nconst filename = `${itemId}_ig_${ts}.png`;\nconst path = `04_Canva-Vorlagen/generated-posts/${filename}`;\n\nreturn [{\n  json: {\n    repo_path: path,\n    filename: filename,\n    public_url: `https://raw.githubusercontent.com/twaese/Physio-Fuchs-Social-Media-Automation/main/${path}`,\n    github_body: {\n      message: `WF-02 auto-post ${itemId} IG ${ts}`,\n      content: binary.data,\n    },\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,864],"id":"4abfdab1-6db8-401d-a0f8-b27cad4fdbf1","name":"Code: IG → GitHub Body"},{"parameters":{"jsCode":"// Gotenberg-Binary für GitHub-PUT vorbereiten (FB)\nconst binary = $input.first().binary?.data;\nif (!binary || !binary.data) {\n  throw new Error('Kein Binary von Gotenberg FB erhalten');\n}\n\nconst itemId = $('Code: Validate + Route').item.json._sp_item_id;\nconst ts = new Date().toISOString().replace(/[:T.]/g, '-').slice(0, 19);\nconst filename = `${itemId}_fb_${ts}.png`;\nconst path = `04_Canva-Vorlagen/generated-posts/${filename}`;\n\nreturn [{\n  json: {\n    repo_path: path,\n    filename: filename,\n    public_url: `https://raw.githubusercontent.com/twaese/Physio-Fuchs-Social-Media-Automation/main/${path}`,\n    github_body: {\n      message: `WF-02 auto-post ${itemId} FB ${ts}`,\n      content: binary.data,\n    },\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,1088],"id":"7c3d23c1-d054-437e-910e-5b5673a6274c","name":"Code: FB → GitHub Body"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/twaese/Physio-Fuchs-Social-Media-Automation/contents/{{ $json.repo_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GITHUB_TOKEN }}"},{"name":"Accept","value":"application/vnd.github+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.github_body) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,784],"id":"060b2b21-c015-4105-b7e8-00c1f3a21be2","name":"GitHub: Push IG"},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/twaese/Physio-Fuchs-Social-Media-Automation/contents/{{ $json.repo_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GITHUB_TOKEN }}"},{"name":"Accept","value":"application/vnd.github+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.github_body) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2688,992],"id":"c12868ea-ed3a-40e4-9bb1-6b4241ee310e","name":"GitHub: Push FB"},{"parameters":{"jsCode":"const f = $('Code: HWG-Filter').first().json;\nconst itemId = $('Code: Validate + Route').first().json._sp_item_id;\n\n// GitHub-Raw-URLs (public, von Meta ladbar) statt SharePoint-internen URLs\n// .first() statt .item — Multi-Branch-Merge sonst undefined\nlet igUrl = '', fbUrl = '';\ntry { igUrl = $('Code: IG → GitHub Body').first().json.public_url || ''; } catch(e) { console.log('IG-URL-Lookup failed:', e.message); }\ntry { fbUrl = $('Code: FB → GitHub Body').first().json.public_url || ''; } catch(e) { console.log('FB-URL-Lookup failed:', e.message); }\n\n// v18.3: Foto-Branch-Diagnose mitloggen\nlet fotoLog = '';\ntry {\n  const fm = $('Code: Foto-Match').first().json;\n  fotoLog = fm.photo_found ? `Foto: ${fm.photo_name}` : 'Foto: Fallback';\n} catch (e) { fotoLog = 'Foto: ?'; }\n\nconst hashtagBlock = (f.hashtags || []).join(' ');\nconst captionPure = f.caption;   // OHNE Hashtags — WF-03 hängt sie für IG einmalig dran\n\nconst now = new Date().toISOString().replace('T', ' ').slice(0, 16);\nconst logEntry = `\\n${now} WF-02 v18.3: Caption+Bild fertig, HWG sauber, ${fotoLog}, GitHub-Push IG${igUrl?'✓':'✗'}/FB${fbUrl?'✓':'✗'}, Status Bereit`;\nconst existingLog = f.sp_fields.field_13 || '';\n\nreturn [{\n  json: {\n    _sp_item_id: itemId,\n    payload: {\n      field_10: captionPure,\n      field_7:  hashtagBlock,\n      field_6:  'Bereit',\n      field_8:  igUrl,\n      Bild_FB_Dateiname: fbUrl,\n      field_13: existingLog + logEntry,\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,640],"id":"8416796e-e6fc-466c-b238-db085f6456f8","name":"Code: Merge + Update-Payload"},{"parameters":{"method":"POST","url":"=https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW/_api/web/lists(guid'd17a6a6f-e6ef-457d-a2a9-4c30ea56120f')/items({{ $json._sp_item_id }})","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftSharePointOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"},{"name":"X-HTTP-Method","value":"MERGE"},{"name":"IF-MATCH","value":"*"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2912,640],"id":"36f21f53-4a55-4def-b5de-e3a7e5e0f228","name":"SP: Status Bereit","credentials":{"microsoftSharePointOAuth2Api":{"id":"jLaDM9Iq5mCQJkMU","name":"PF Microsoft SharePoint account"}}},{"parameters":{"method":"POST","url":"=https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW/_api/web/lists(guid'd17a6a6f-e6ef-457d-a2a9-4c30ea56120f')/items({{ $('Code: Validate + Route').item.json._sp_item_id }})","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftSharePointOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"},{"name":"X-HTTP-Method","value":"MERGE"},{"name":"IF-MATCH","value":"*"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"Caption_Variante\": {{ JSON.stringify($json.caption + \"\\n\\n\" + ($json.hashtags || []).join(\" \")) }},\n  \"Status\": \"Geblockt\",\n  \"Kommentare\": {{ JSON.stringify(($json.sp_fields.Kommentare || \"\") + \"\\n\" + new Date().toISOString().slice(0,16).replace(\"T\",\" \") + \" WF-02 v18.3: HWG-FILTER-MATCH → \" + ($json._hwg_matches || []).join(\", \") + \" → Status Geblockt, bitte prüfen\") }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,864],"id":"a05e732f-9bb6-4f7c-9e35-92e1f2ca6daa","name":"SP: Status Geblockt","disabled":true},{"parameters":{"jsCode":"// Avatar-Check: Flag prüfen\nconst AVATAR_ENABLED = false;  // ← später auf true setzen wenn D-ID läuft\n\nreturn [{\n  json: {\n    ...$json,\n    _avatar_enabled: AVATAR_ENABLED\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,1072],"id":"f05669f6-9d01-4520-9bce-9c073d687ce1","name":"Code: AVATAR_ENABLED?","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json._avatar_enabled }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-896,1072],"id":"76604ebb-7c88-4188-bdd1-3b5c506756ef","name":"If: Avatar aktiv?","disabled":true},{"parameters":{"content":"## Avatar-Branch (v19+)\n\nWenn `AVATAR_ENABLED=true`:\n1. Reel-Skript via Claude generieren\n2. HWG-Filter auf Skript\n3. POST D-ID API: Talking Photo + Voice\n4. Polling: Job fertig?\n5. MP4-URL in `field_9`\n6. Status: `Bereit`\n\nSiehe `06_Avatar-Reel-Konzepte/Avatar-Integration-Plan.md`","height":240,"width":320,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-672,944],"id":"12f2c2cf-1be9-490c-9503-09c55ef47ab1","name":"Doku: Avatar TODO (v19)"},{"parameters":{"method":"POST","url":"=https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW/_api/web/lists(guid'd17a6a6f-e6ef-457d-a2a9-4c30ea56120f')/items({{ $('Code: Validate + Route').item.json._sp_item_id }})","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftSharePointOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"},{"name":"X-HTTP-Method","value":"MERGE"},{"name":"IF-MATCH","value":"*"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"Status\": \"Wartet-auf-Avatar\",\n  \"Kommentare\": {{ JSON.stringify(($json.sp_fields.Kommentare || \"\") + \"\\n\" + new Date().toISOString().slice(0,16).replace(\"T\",\" \") + \" WF-02 v18.3: Post-Typ \" + $json._post_typ + \" braucht Avatar-Pipeline (AVATAR_ENABLED=false) → geparkt, wartet auf Aktivierung\") }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,1200],"id":"03d39352-6c54-4741-9776-06a631d334d0","name":"SP: Status Wartet-auf-Avatar","disabled":true}],"connections":{"Cron: stündlich":{"main":[[{"node":"SP: Entwürfe holen","type":"main","index":0}]]},"SP: Entwürfe holen":{"main":[[{"node":"Code: Validate + Route","type":"main","index":0}]]},"Code: Validate + Route":{"main":[[{"node":"Switch: Feed/Avatar","type":"main","index":0}]]},"Switch: Feed/Avatar":{"main":[[{"node":"Code: Build Claude Payload","type":"main","index":0}],[{"node":"Code: AVATAR_ENABLED?","type":"main","index":0}]]},"Code: Build Claude Payload":{"main":[[{"node":"HTTP: Claude Caption","type":"main","index":0}]]},"HTTP: Claude Caption":{"main":[[{"node":"Code: Parse Claude","type":"main","index":0}]]},"Code: Parse Claude":{"main":[[{"node":"Code: HWG-Filter","type":"main","index":0}]]},"Code: HWG-Filter":{"main":[[{"node":"If: HWG sauber?","type":"main","index":0}]]},"If: HWG sauber?":{"main":[[{"node":"Code: Foto-Pfad bauen","type":"main","index":0}],[{"node":"SP: Status Geblockt","type":"main","index":0}]]},"Code: Foto-Pfad bauen":{"main":[[{"node":"HTTP: SP Fotos listen","type":"main","index":0}]]},"HTTP: SP Fotos listen":{"main":[[{"node":"Code: Foto-Match","type":"main","index":0}]]},"Code: Foto-Match":{"main":[[{"node":"If: Foto gefunden?","type":"main","index":0}]]},"If: Foto gefunden?":{"main":[[{"node":"HTTP: SP Foto Download","type":"main","index":0}],[{"node":"Code: Foto-URL final","type":"main","index":0}]]},"HTTP: SP Foto Download":{"main":[[{"node":"Code: Foto → GitHub Body","type":"main","index":0}]]},"Code: Foto → GitHub Body":{"main":[[{"node":"HTTP: GitHub-Push Foto","type":"main","index":0}]]},"HTTP: GitHub-Push Foto":{"main":[[{"node":"Code: Foto-URL final","type":"main","index":0}]]},"Code: Foto-URL final":{"main":[[{"node":"Code: HTML bauen (IG+FB)","type":"main","index":0}]]},"Code: HTML bauen (IG+FB)":{"main":[[{"node":"Code: IG HTML→Binary","type":"main","index":0},{"node":"Code: FB HTML→Binary","type":"main","index":0}]]},"Code: IG HTML→Binary":{"main":[[{"node":"HTTP: Gotenberg IG","type":"main","index":0}]]},"HTTP: Gotenberg IG":{"main":[[{"node":"SP: Upload IG-Bild","type":"main","index":0},{"node":"Code: IG → GitHub Body","type":"main","index":0}]]},"SP: Upload IG-Bild":{"main":[[{"node":"Code: Merge + Update-Payload","type":"main","index":0}]]},"Code: FB HTML→Binary":{"main":[[{"node":"HTTP: Gotenberg FB","type":"main","index":0}]]},"HTTP: Gotenberg FB":{"main":[[{"node":"SP: Upload FB-Bild","type":"main","index":0},{"node":"Code: FB → GitHub Body","type":"main","index":0}]]},"SP: Upload FB-Bild":{"main":[[{"node":"Code: Merge + Update-Payload","type":"main","index":0}]]},"Code: Merge + Update-Payload":{"main":[[{"node":"SP: Status Bereit","type":"main","index":0}]]},"Code: AVATAR_ENABLED?":{"main":[[{"node":"If: Avatar aktiv?","type":"main","index":0}]]},"If: Avatar aktiv?":{"main":[[],[{"node":"SP: Status Wartet-auf-Avatar","type":"main","index":0}]]},"Code: IG → GitHub Body":{"main":[[{"node":"GitHub: Push IG","type":"main","index":0}]]},"GitHub: Push IG":{"main":[[{"node":"Code: Merge + Update-Payload","type":"main","index":0}]]},"Code: FB → GitHub Body":{"main":[[{"node":"GitHub: Push FB","type":"main","index":0}]]},"GitHub: Push FB":{"main":[[{"node":"Code: Merge + Update-Payload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cron: stündlich":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"1d1aea08-4d78-4151-9d8b-74177d37ec64","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-08T15:49:54.828Z","createdAt":"2026-06-08T15:49:54.828Z","role":"workflow:owner","workflowId":"OQIqADQvVPmFiUO6","projectId":"ExbNqBCSNFinilAE","project":{"updatedAt":"2025-11-20T14:48:39.672Z","createdAt":"2025-11-20T14:47:51.220Z","id":"ExbNqBCSNFinilAE","name":"Thomas Waese <thomas@waese-home.de>","type":"personal","icon":null,"description":null}}]}]