PF_WF-03_Social_Media_Post_v6.json
{"updatedAt":"2026-05-18T06:47:52.000Z","createdAt":"2026-05-17T17:29:17.600Z","id":"5I6XE4suikvFa9Y7","name":"PF WF-03 Social Media Post v6","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## WF-03 v6 — Posting auf Instagram + Facebook\n\n**Was tut dieser Workflow:**\nStündlich alle SharePoint-Items mit `Status=Bereit` prüfen und posten:\n1. Karenz-Check: ≥24h seit letztem Modify\n2. Schedule-Check: geplantes Datum/Uhrzeit erreicht\n3. Instagram: Container + Wait 15s + Publish\n4. Facebook: Photo + Comment mit Hashtags\n5. Status → Veröffentlicht, Post-IDs in SP\n\n**Bilder kommen aus GitHub-Raw-URLs** (von WF-02 v18.2 gepusht).\n\n**Tokens (Env-Vars):**\n- IG_BUSINESS_ACCOUNT_ID hardcoded: 17841461169626096\n- FB_PAGE_ID = $env.FB_PAGE_ID\n- Auth via n8n facebookGraphApi-Credential","height":524,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"1aaa088e-6403-4fb5-a070-6a738e4a99fe","name":"Doku: Overview"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[528,304],"id":"e1fc3b47-3eea-46f1-b06a-970a193c237b","name":"Cron: stündlich"},{"parameters":{"resource":"item","site":{"__rl":true,"value":"physiofuchs889.sharepoint.com,c74040a2-0d6b-4385-b514-fbd9830a56ac,7a7842d6-ea6c-440d-aeed-580bdd2a091c","mode":"list","cachedResultName":"Physio Fuchs Administration"},"list":{"__rl":true,"value":"d17a6a6f-e6ef-457d-a2a9-4c30ea56120f","mode":"list","cachedResultName":"PF-Content-Kalender-2026"},"options":{"fields":["fields"]},"simplify":false,"requestOptions":{}},"type":"n8n-nodes-base.microsoftSharePoint","typeVersion":1,"position":[752,304],"id":"5e4d8fcf-da51-410f-9d77-ddaedae6d3f3","name":"SP: Bereit-Items holen","credentials":{"microsoftSharePointOAuth2Api":{"id":"jLaDM9Iq5mCQJkMU","name":"PF Microsoft SharePoint account"}}},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/17841461169626096/media","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{ $('FilterKZ').first().json.image_url_ig }}"},{"name":"caption","value":"={{ $('FilterKZ').first().json.caption_with_hashtags }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,160],"id":"93567748-0f83-4610-95d6-2c7a8e1b3477","name":"IG: Container erstellen","credentials":{"facebookGraphApi":{"id":"wDgOr4JQhZcj4kAK","name":"PF Facebook Graph account"}}},{"parameters":{"amount":15,"unit":"seconds"},"type":"n8n-nodes-base.wait","typeVersion":1,"position":[1424,160],"id":"1def2b39-6a9c-4c76-9251-b8defbe0825f","name":"Wait 15s (IG Processing)","webhookId":"wf03-wait-15s"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v25.0/{{ $('FB_Photo').item.json.post_id }}/comments","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"message","value":"={{ $('FilterKZ').first().json.hashtags }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1424,464],"id":"c21ffb8c-0a27-4835-b56b-5cec6ccb322a","name":"FB: Hashtag-Comment","credentials":{"facebookGraphApi":{"id":"wDgOr4JQhZcj4kAK","name":"PF Facebook Graph account"}}},{"parameters":{"jsCode":"// WF-03 v6 — SP-Update Payload für Status=Veröffentlicht (defensiv)\n// - Liest IG/FB-Post-IDs (oder leer wenn Nodes deaktiviert)\n// - Trockenlauf-Stop: wenn beide IDs leer → return [] (kein SP-Update)\n// - Item-ID-Auflösung über mehrere mögliche Feldnamen\n// - URL-Extractor falls Felder Hyperlink-Objekte sind\n\n\nfunction safe(nodeName) {\n  try { return $(nodeName).first().json || {}; } catch (e) { return {}; }\n}\n\n// --- Post-Responses lesen ---\nconst igResp = safe('IG_Publish');\nconst fbResp = safe('FB_Photo');\n\nconst igPostId = igResp.id || igResp.post_id || '';\nconst fbPostId = fbResp.post_id || fbResp.id || '';\n\n// --- Trockenlauf-Stop: keine Posts gemacht → kein SP-Update ---\nif (!igPostId && !fbPostId) {\n  return [];\n}\n\n// --- Item-ID aus Filter-Output robust holen ---\nconst filterItem = $('FilterKZ').item.json;\n\nconst itemId = filterItem.item_id\n            || filterItem.id\n            || filterItem.Id\n            || filterItem.ID\n            || filterItem.sp_item_id\n            || (filterItem.sp_fields && filterItem.sp_fields.Id)\n            || (filterItem.sp_fields && filterItem.sp_fields.ID);\n\nif (!itemId) {\n  throw new Error(\n    'Kein SP-Item-ID im Filter-Output gefunden. Verfügbare Felder: '\n    + Object.keys(filterItem).join(', ')\n  );\n}\n\n// --- Bestehendes field_13-Log sauber lesen ---\nconst f = (filterItem.sp_fields) || {};\nconst existingLog = f.field_13 || '';\n\n// --- Log-Eintrag bauen ---\nconst now = new Date().toISOString().replace('T', ' ').slice(0, 16);\nconst logEntry = `\\n${now} WF-03 v6: Veröffentlicht — IG ${igPostId || '(deaktiviert)'} / FB ${fbPostId || '(deaktiviert)'}`;\n\n// --- SP-PATCH-Payload zusammenbauen ---\nconst payload = {\n  field_6:  'Veröffentlicht',\n  field_13: existingLog + logEntry,\n};\nif (igPostId) payload.field_12 = igPostId;\n// Falls du auch FB-Post-ID in eigenem Feld speichern willst:\n// if (fbPostId) payload.field_14 = fbPostId;\n\nreturn [{\n  json: {\n    _sp_item_id: itemId,\n    payload: payload,\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,304],"id":"f3d5b83b-5efe-4fbe-8cf7-e1106c5118a1","name":"Code: SP-Update Payload"},{"parameters":{"method":"POST","url":"=https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW/_api/web/lists(guid'd17a6a6f-e6ef-457d-a2a9-4c30ea56120f')/items({{ $json._sp_item_id }})","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftSharePointOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"},{"name":"X-HTTP-Method","value":"MERGE"},{"name":"IF-MATCH","value":"*"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.payload) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2096,304],"id":"5cd12ed6-f4b0-41f7-a10f-3c8c8b1882a7","name":"SP: Status Veröffentlicht","credentials":{"microsoftSharePointOAuth2Api":{"id":"jLaDM9Iq5mCQJkMU","name":"PF Microsoft SharePoint account"}}},{"parameters":{"jsCode":"// WF-03 v6 Filter: Karenz-Check + Schedule-Check\nconst items = $input.all();\nconst now = new Date();\nconst KARENZ_HOURS = 24;\nconst results = [];\nconst skipped = [];\n\nfor (const item of items) {\n  const j = item.json;\n  const f = j.fields || {};\n  const status = f.field_6;\n  const modified = j.lastModifiedDateTime || j.Modified;\n  const datumRaw = f.Ver_x00f6_ffentlichungsdatum;\n  const uhrzeit = (f.field_5 || '09:00').trim();\n  const itemId = j.id || j.Ausweis || f.AUSWEIS;\n  const title = f.Title || f.Titel || '';\n\n  const reasons = [];\n  if (status !== 'Bereit') reasons.push(`status=${status}`);\n\n  // Karenz-Check\n  if (modified) {\n    const modifiedDate = new Date(modified);\n    const hoursSinceModified = (now - modifiedDate) / (1000 * 60 * 60);\n    if (hoursSinceModified < KARENZ_HOURS) {\n      reasons.push(`karenz_läuft (${hoursSinceModified.toFixed(1)}h von ${KARENZ_HOURS}h)`);\n    }\n  } else {\n    reasons.push('modified_fehlt');\n  }\n\n  // Schedule-Check (timezone-aware: uhrzeit = Berlin local time)\n  if (datumRaw) {\n    const dateOnly = String(datumRaw).split('T')[0];\n    const [yyyy, mo, dd] = dateOnly.split('-').map(Number);\n    const [hh, mm] = uhrzeit.split(':').map(Number);\n    // Berlin: Sommer +02 (Apr-Okt), Winter +01 (Nov-Mär)\n    const offsetHours = (mo >= 4 && mo <= 10) ? 2 : 1;\n    const scheduledTime = new Date(Date.UTC(yyyy, mo - 1, dd, hh - offsetHours, mm, 0));\n    if (isNaN(scheduledTime)) {\n      reasons.push(`schedule_invalid (${dateOnly} ${uhrzeit})`);\n    } else if (scheduledTime > now) {\n      reasons.push(`scheduled_future (Berlin: ${dateOnly} ${uhrzeit})`);\n    }\n  } else {\n    reasons.push('veröffentlichungsdatum_leer');\n  }\n\n  // Bild-URLs müssen da sein\n  const igUrl = f.field_8 || f.field_9 || '';\n  const fbUrl = f.Bild_FB_Dateiname || '';\n  if (!igUrl.startsWith('https://')) reasons.push(`IG_keine_url (field_8: \"${f.field_8 || ''}\" / field_9: \"${f.field_9 || ''}\")`);\n  if (!fbUrl.startsWith('https://')) reasons.push(`Bild_FB_Dateiname_keine_url (wert: \"${fbUrl}\")`);\n\n  if (reasons.length > 0) {\n    skipped.push({ id: itemId, title, status, modified, datum: datumRaw, reasons });\n    continue;\n  }\n\n  const hashtags = f.field_7 || '';\n  const caption = (f.field_10 || '').trim();\n\n  results.push({\n    json: {\n      item_id: itemId,\n      title,\n      image_url_ig: igUrl,\n      image_url_fb: fbUrl,\n      caption,\n      hashtags,\n      caption_with_hashtags: caption + (hashtags ? '\\n\\n' + hashtags : ''),\n      sp_fields: f,\n    }\n  });\n}\n\nreturn results.slice(0, 1);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,304],"id":"2f87ccc6-a69f-468e-8d27-d45d9d8e1477","name":"FilterKZ"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v25.0/17841461169626096/media_publish","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{ $('IG: Container erstellen').first().json.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1648,160],"id":"06c5c6fd-09ca-41b4-9dd4-2da6bb43f4ca","name":"IG_Publish","credentials":{"facebookGraphApi":{"id":"wDgOr4JQhZcj4kAK","name":"PF Facebook Graph account"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v25.0/104383336093043/photos","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $('FilterKZ').first().json.image_url_fb }}"},{"name":"caption","value":"={{ $('FilterKZ').first().json.caption }} (ohne Hashtags)"},{"name":"published","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,464],"id":"9c78d3ac-659a-47f8-ace4-10ae8015bfc7","name":"FB_Photo","credentials":{"facebookGraphApi":{"id":"wDgOr4JQhZcj4kAK","name":"PF Facebook Graph account"}}}],"connections":{"Cron: stündlich":{"main":[[{"node":"SP: Bereit-Items holen","type":"main","index":0}]]},"SP: Bereit-Items holen":{"main":[[{"node":"FilterKZ","type":"main","index":0}]]},"IG: Container erstellen":{"main":[[{"node":"Wait 15s (IG Processing)","type":"main","index":0}]]},"Wait 15s (IG Processing)":{"main":[[{"node":"IG_Publish","type":"main","index":0}]]},"FB: Hashtag-Comment":{"main":[[{"node":"Code: SP-Update Payload","type":"main","index":0}]]},"Code: SP-Update Payload":{"main":[[{"node":"SP: Status Veröffentlicht","type":"main","index":0}]]},"FilterKZ":{"main":[[{"node":"IG: Container erstellen","type":"main","index":0},{"node":"FB_Photo","type":"main","index":0}]]},"IG_Publish":{"main":[[{"node":"Code: SP-Update Payload","type":"main","index":0}]]},"FB_Photo":{"main":[[{"node":"FB: Hashtag-Comment","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cron: stündlich":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"605efa67-5c8a-420d-9c1a-8198108c1ece","versionCounter":19,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-17T17:29:17.605Z","createdAt":"2026-05-17T17:29:17.605Z","role":"workflow:owner","workflowId":"5I6XE4suikvFa9Y7","projectId":"ExbNqBCSNFinilAE","project":{"updatedAt":"2025-11-20T14:48:39.672Z","createdAt":"2025-11-20T14:47:51.220Z","id":"ExbNqBCSNFinilAE","name":"Thomas Waese <thomas@waese-home.de>","type":"personal","icon":null,"description":null}}]}