_Archiv-Workflows/Reel-Vorversionen/PF___WF-02_Caption_Generator_v2.json
{
  "name": "PF – WF-02 Caption Generator",
  "nodes": [
    {
      "parameters": {
        "content": "## PF – WF-02 Caption Generator\n\n**Setup (einmalig vor erstem Test):**\n1. Node **Claude API** öffnen → Credential auf 'Anthropic account' setzen\n2. Im Node **Test-Eingabe**: `hashtag_pool_lokal` auf eure Stadt anpassen\n3. Manuellen Trigger klicken → Output im letzten Node prüfen\n\n**Kosten pro Ausführung:** ca. 0,01–0,02 EUR (Claude Sonnet)\n\n**Später ersetzen:**\n- Node **Test-Eingabe** → Microsoft SharePoint: Get List Items (Filter Status = Bereit)\n- Letzter Node → weiterleiten an WF-03 (Canva) und WF-04 (Freigabe)",
        "height": 200,
        "width": 960,
        "color": 5
      },
      "id": "52ec1c1a-0d17-42be-8e48-e3b83217caf8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -144
      ]
    },
    {
      "parameters": {},
      "id": "bdbef954-3642-4b82-8974-a1ae82cec625",
      "name": "Manueller Test-Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json.Felder || $input.item.json;\nconst systemPrompt = `Du bist der Social-Media-Texter der Physiotherapiepraxis Physio Fuchs.\nDu schreibst Instagram-Captions auf Deutsch fuer eine moderne, empathische Physiotherapiepraxis.\nTONALITAET:\n- Warm, professionell, motivierend - nie arrogant oder klinisch\n- Duzen der Community ist erwuenscht\n- Emojis: maximal 3-5 pro Caption, nur unterstuetzend\n- Keine Clickbait-Formulierungen\n- Keine medizinischen Versprechen (kein 'heilt', 'kuriert')\n- Erlaubt: 'kann helfen', 'unterstuetzt', 'lindert haeufig'\nCAPTION-AUFBAU:\n1. Hook (erste Zeile, max. 12 Woerter) - stopp-wuerdig, direkte Ansprache\n2. Hauptinhalt (3-5 Saetze) - Mehrwert, Tipps oder konkreter Einblick\n3. Handlungsaufruf (1 Satz) - Termin buchen, Kommentieren oder Beitrag speichern\nWICHTIG: Keine Hashtags in der Caption selbst.\nAUSGABE: Nur reines JSON ohne Markdown-Backticks oder erklaerenden Text davor/danach.\nExaktes Format:\n{\"variante_1\":{\"caption\":\"...\",\"hook_preview\":\"...(erste 15 Zeichen)\",\"ton\":\"informativ\"},\"variante_2\":{\"caption\":\"...\",\"hook_preview\":\"...\",\"ton\":\"persoenlich\"},\"variante_3\":{\"caption\":\"...\",\"hook_preview\":\"...\",\"ton\":\"motivierend\"},\"hashtag_set_1\":[\"#tag1\",\"#tag2\"],\"hashtag_set_2\":[\"#tag1\",\"#tag2\"]}`;\n\nconst thema = d.Field_1 || 'Physiotherapie';\nconst postTyp = d.Field_2 || 'Tipp';\nconst brief = d.Field_3 || '';\nconst datum = d.Field_4 || '';\nconst hashtag = d.Field_7 || '';\nconst wochentag = new Date(datum).toLocaleDateString('de-DE', {weekday: 'long'}) || 'Montag';\nconst monat = new Date().getMonth();\nconst jahreszeit = monat <= 1 || monat === 11 ? 'Winter' : monat <= 4 ? 'Frühling' : monat <= 7 ? 'Sommer' : 'Herbst';\n\nconst userMessage = `BRIEF VON JUDITH:\nThema: ${thema}\nPost-Typ: ${postTyp}\nAnweisung: ${brief}\nKONTEXT:\n- Wochentag der Veroeffentlichung: ${wochentag}\n- Jahreszeit: ${jahreszeit}\nVERFUEGBARER HASHTAG-POOL (waehle die 25-30 passendsten aus):\nKern-Tags: #physiofuchs #physiotherapie #physio #gesundheit #wohlbefinden\nThemen-Tags (${thema}): ${hashtag}\nReichweiten-Tags: #gesundheitstipp #fitnessmotivation #bewegung #schmerzfrei #physiotherapeut\nLokale Tags: #physiotherapieStadt #StadtGesundheit\nErstelle alle 3 Varianten im vorgegebenen JSON-Format. Nur reines JSON ausgeben, keine Erklaerungen.`;\n\nreturn {\n  json: {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 2048,\n    system: systemPrompt,\n    messages: [{ role: 'user', content: userMessage }]\n  }\n};"
      },
      "id": "4c9ed45b-4d21-4c7c-aeab-7920f9f6fce0",
      "name": "Build Claude Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\n\n// Fehlercheck\nif (!response.content || !response.content[0]) {\n  throw new Error('Keine Antwort von Claude. Response: ' + JSON.stringify(response).substring(0, 300));\n}\n\nconst rawText = response.content[0].text;\n\n// JSON extrahieren (falls Claude Backticks mitliefert)\nlet parsed;\ntry {\n  const cleaned = rawText\n    .replace(/```json\\n?/gi, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  // Fallback: JSON aus dem Text herausschneiden\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      parsed = JSON.parse(match[0]);\n    } catch(e2) {\n      throw new Error('Claude-Output ist kein valides JSON:\\n' + rawText.substring(0, 400));\n    }\n  } else {\n    throw new Error('Kein JSON in Claude-Output gefunden:\\n' + rawText.substring(0, 400));\n  }\n}\n\n// Kosten berechnen (Claude Sonnet Preise Stand 2025)\nconst inputTokens = response.usage?.input_tokens || 0;\nconst outputTokens = response.usage?.output_tokens || 0;\nconst costEur = Math.round((inputTokens * 0.000003 + outputTokens * 0.000015) * 100) / 100;\n\nreturn {\n  json: {\n    // Captions\n    v1_caption: parsed.variante_1?.caption || '',\n    v1_hook: parsed.variante_1?.hook_preview || '',\n    v1_ton: parsed.variante_1?.ton || 'informativ',\n\n    v2_caption: parsed.variante_2?.caption || '',\n    v2_hook: parsed.variante_2?.hook_preview || '',\n    v2_ton: parsed.variante_2?.ton || 'persoenlich',\n\n    v3_caption: parsed.variante_3?.caption || '',\n    v3_hook: parsed.variante_3?.hook_preview || '',\n    v3_ton: parsed.variante_3?.ton || 'motivierend',\n\n    // Hashtags als String (fertig fuer Instagram)\n    hashtags_set_1: Array.isArray(parsed.hashtag_set_1) ? parsed.hashtag_set_1.join(' ') : '',\n    hashtags_set_2: Array.isArray(parsed.hashtag_set_2) ? parsed.hashtag_set_2.join(' ') : '',\n\n    // Hashtags als Array (fuer spaetere Verarbeitung)\n    hashtags_array_1: parsed.hashtag_set_1 || [],\n    hashtags_array_2: parsed.hashtag_set_2 || [],\n\n    // Metadaten\n    input_tokens: inputTokens,\n    output_tokens: outputTokens,\n    cost_eur: costEur,\n    generated_at: new Date().toISOString(),\n    model: 'claude-sonnet-4-20250514'\n  }\n};"
      },
      "id": "fd3f6768-d6dc-4eba-97a8-2a2503000d10",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        272
      ]
    },
    {
      "parameters": {
        "content": "**Output-Felder (für WF-04):**\n\n`v1_caption` / `v2_caption` / `v3_caption`\n`v1_hook` / `v2_hook` / `v3_hook`\n`v1_ton` / `v2_ton` / `v3_ton`\n`hashtags_set_1` / `hashtags_set_2`\n`cost_eur` / `generated_at`\n`thema` / `datum` / `uhrzeit`",
        "width": 290,
        "color": 3
      },
      "id": "16cfe42d-1bd9-4a97-b522-8fb0f7f2e2b6",
      "name": "Output-Felder",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        80
      ]
    },
    {
      "parameters": {
        "content": "**Häufige Fehler:**\n\n`401` → ANTHROPIC_API_KEY falsch oder fehlt\n`429` → Rate Limit, kurz warten\n`JSON Parse Error` → Claude hat Text um JSON geliefert → Code Node fängt das ab\n`Timeout` → Timeout auf 60s erhöht",
        "width": 220,
        "color": 4
      },
      "id": "f0ce79c0-e770-429d-a9f0-54762718f66c",
      "name": "Häufige Fehler",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        80
      ]
    },
    {
      "parameters": {
        "content": "**v2 – 2026-05-10**\n\nFix: Merge-Node zusammenführt\nSharePoint-Felder + Claude-Output.\nField_1/4/5 jetzt in Teams-Nachricht verfügbar.\n\nÄnderungen:\n- Merge-Node nach Parse Claude Response\n- If → Merge (Input 2)\n- Edit Fields: thema/datum/uhrzeit ergänzt\n- Teams-Nachricht: $json.thema etc.",
        "width": 260,
        "color": 6
      },
      "id": "changelog-v2-note",
      "name": "Changelog v2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=  {{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1136,
        272
      ],
      "id": "a4e10474-484d-4924-aff3-2283e9e9f1a2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "item",
        "site": {
          "__rl": true,
          "value": "physiofuchs889.sharepoint.com,c74040a2-0d6b-4385-b514-fbd9830a56ac,7a7842d6-ea6c-440d-aeed-580bdd2a091c",
          "mode": "list",
          "cachedResultName": "Physio Fuchs Administration"
        },
        "list": {
          "__rl": true,
          "value": "d17a6a6f-e6ef-457d-a2a9-4c30ea56120f",
          "mode": "list",
          "cachedResultName": "PF-Content-Kalender-2026"
        },
        "filter": "=",
        "options": {
          "fields": [
            "fields"
          ]
        },
        "simplify": false,
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        224,
        288
      ],
      "id": "fe9b74ea-3a09-4d3b-98de-c89def3d3f95",
      "name": "Get many items",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1dc54f08-2a4c-46c8-bebc-83a9f54b7a5e",
              "leftValue": "={{ $json.fields.field_6 }}",
              "rightValue": "Bereit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        288
      ],
      "id": "f1345bc1-23ba-4d5c-a69b-b8c3ed3255fd",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1600,
        272
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Merge SharePoint + Claude"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "operation": "sendAndWait",
        "chatId": {
          "__rl": true,
          "value": "19:meeting_MWViMzNlYmYtNTY1OS00NzM1LTlmMDAtNjRmZjA0YjY3OGFl@thread.v2",
          "mode": "list",
          "cachedResultName": "Social Media (meeting)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Ameeting_MWViMzNlYmYtNTY1OS00NzM1LTlmMDAtNjRmZjA0YjY3OGFl%40thread.v2/0?tenantId=b349f8e5-511c-485a-be28-55e420a6a5e1"
        },
        "message": "=🌟 Neuer Post zur Freigabe – {{ $json.generated_at.substring(0,10) }}\n\n📋 Thema: {{ $json.thema }}\n🗓️ Geplant: {{ $json.datum }} um {{ $json.uhrzeit }} Uhr\n\n──────────────────────────────\nVARIANTE 1 – {{ $json.v1_ton }}\n\n{{ $json.v1_caption }}\n\n──────────────────────────────\nVARIANTE 2 – {{ $json.v2_ton }}\n\n{{ $json.v2_caption }}\n\n──────────────────────────────\nVARIANTE 3 – {{ $json.v3_ton }}\n\n{{ $json.v3_caption }}\n\n──────────────────────────────\n# Hashtags: {{ $json.hashtags_set_1 }}\n\n──────────────────────────────\n✅ Variante wählen (1, 2 oder 3)",
        "responseType": "freeText",
        "options": {
          "messageButtonLabel": "✅ Variante wählen (1, 2 oder 3)"
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2048,
        272
      ],
      "id": "b7de1672-e1ea-47c7-b50d-29576b381014",
      "name": "Send message and wait for response",
      "webhookId": "a3b4cb5f-83bc-4711-a939-8e3799b4a447",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Gmvn1OD66IZoWsXh",
          "name": "PF Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc8afb8d-6547-4916-840a-4afaaf0bca8b",
              "name": "thema",
              "value": "={{ $json.Felder.Field_1 }}",
              "type": "string"
            },
            {
              "id": "d1e2f3a4-b5c6-7890-abcd-ef1234567891",
              "name": "datum",
              "value": "={{ $json.Felder.Field_4 }}",
              "type": "string"
            },
            {
              "id": "e2f3a4b5-c6d7-8901-bcde-f12345678912",
              "name": "uhrzeit",
              "value": "={{ $json.Felder.Field_5 }}",
              "type": "string"
            },
            {
              "id": "a3674ff8-2773-4773-b697-f44fafc55cf0",
              "name": "v1_ton",
              "value": "={{ $json.v1_ton }}",
              "type": "string"
            },
            {
              "id": "9291fe6a-4155-4420-a2d6-7abd9b2b3cc9",
              "name": "v1_caption",
              "value": "={{ $json.v1_caption }}",
              "type": "string"
            },
            {
              "id": "1c6ae8af-9a3c-42cb-a96b-ef18c56abadd",
              "name": "v2_ton",
              "value": "={{ $json.v2_ton }}",
              "type": "string"
            },
            {
              "id": "06c7f92f-909e-4055-b9dd-fabaafa15dc8",
              "name": "v2_caption",
              "value": "={{ $json.v2_caption }}",
              "type": "string"
            },
            {
              "id": "3b1a1f68-e637-4715-944e-e3c1ecf319cb",
              "name": "v3_ton",
              "value": "={{ $json.v3_ton }}",
              "type": "string"
            },
            {
              "id": "54ad1896-8f4f-4034-a974-8a9b0e59643c",
              "name": "v3_caption",
              "value": "={{ $json.v3_caption }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        272
      ],
      "id": "b19c5a87-30a5-4b8f-99b7-fa114f4c9d15",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Manueller Test-Trigger": {
      "main": [
        [
          {
            "node": "Get many items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Payload": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Build Claude Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge SharePoint + Claude",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Merge SharePoint + Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge SharePoint + Claude": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc767705-8557-4217-a1e2-8e3e3899acf9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f40c6f6af7ce2011b04be6e4c65abbc6b998ddefd762d8f282912f30a607f9b9"
  },
  "id": "ORZyoQczawgopE8W",
  "tags": []
}
