_Archiv-Workflows/Reel-Vorversionen/PF___WF-02_Caption_Generator_v3.json
{
  "name": "PF вЂ“ WF-02 Caption Generator",
  "nodes": [
    {
      "parameters": {
        "content": "## PF вЂ“ WF-02 Caption Generator\n\n**Setup (einmalig vor erstem Test):**\n1. Node **Claude API** Г¶ffnen в†’ Credential auf 'Anthropic account' setzen\n2. Im Node **Test-Eingabe**: `hashtag_pool_lokal` auf eure Stadt anpassen\n3. Manuellen Trigger klicken в†’ Output im letzten Node prГјfen\n\n**Kosten pro AusfГјhrung:** ca. 0,01вЂ“0,02 EUR (Claude Sonnet)\n\n**SpГ¤ter ersetzen:**\n- Node **Test-Eingabe** в†’ Microsoft SharePoint: Get List Items (Filter Status = Bereit)\n- Letzter Node в†’ weiterleiten an WF-03 (Canva) und WF-04 (Freigabe)",
        "height": 200,
        "width": 960,
        "color": 5
      },
      "id": "52ec1c1a-0d17-42be-8e48-e3b83217caf8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-288, -144]
    },
    {
      "parameters": {
        "content": "**Output-Felder (fГјr WF-04):**\n\n`v1_caption` / `v2_caption` / `v3_caption`\n`v1_hook` / `v2_hook` / `v3_hook`\n`v1_ton` / `v2_ton` / `v3_ton`\n`hashtags_set_1` / `hashtags_set_2`\n`cost_eur` / `generated_at`\n`thema` / `datum` / `uhrzeit`",
        "width": 290,
        "color": 3
      },
      "id": "16cfe42d-1bd9-4a97-b522-8fb0f7f2e2b6",
      "name": "Output-Felder",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-48, 80]
    },
    {
      "parameters": {
        "content": "**HГ¤ufige Fehler:**\n\n`401` в†’ ANTHROPIC_API_KEY falsch oder fehlt\n`429` в†’ Rate Limit, kurz warten\n`JSON Parse Error` в†’ Claude hat Text um JSON geliefert в†’ Code Node fГ¤ngt das ab\n`Timeout` в†’ Timeout auf 60s erhГ¶ht",
        "width": 220,
        "color": 4
      },
      "id": "f0ce79c0-e770-429d-a9f0-54762718f66c",
      "name": "HГ¤ufige Fehler",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-288, 80]
    },
    {
      "parameters": {
        "content": "**v3 вЂ“ 2026-05-10**\n\nFix: Edit Fields durch Code-Node\nersetzt в†’ beide SharePoint-\nFeldschreibweisen abgefangen\n(Felder/fields, Field_x/field_x).\nDatum wird zu TT.MM.JJJJ formatiert.\n\nv2: Merge-Node SharePoint+Claude\nv1: Initial",
        "width": 260,
        "color": 6
      },
      "id": "changelog-v3-note",
      "name": "Changelog v3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1560, 80]
    },
    {
      "parameters": {},
      "id": "bdbef954-3642-4b82-8974-a1ae82cec625",
      "name": "Manueller Test-Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-16, 288]
    },
    {
      "parameters": {
        "resource": "item",
        "site": {
          "__rl": true,
          "value": "physiofuchs889.sharepoint.com,c74040a2-0d6b-4385-b514-fbd9830a56ac,7a7842d6-ea6c-440d-aeed-580bdd2a091c",
          "mode": "list",
          "cachedResultName": "Physio Fuchs Administration"
        },
        "list": {
          "__rl": true,
          "value": "d17a6a6f-e6ef-457d-a2a9-4c30ea56120f",
          "mode": "list",
          "cachedResultName": "PF-Content-Kalender-2026"
        },
        "filter": "=",
        "options": {
          "fields": ["fields"]
        },
        "simplify": false,
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [224, 288],
      "id": "fe9b74ea-3a09-4d3b-98de-c89def3d3f95",
      "name": "Get many items",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1dc54f08-2a4c-46c8-bebc-83a9f54b7a5e",
              "leftValue": "={{ $json.fields.field_6 }}",
              "rightValue": "Bereit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [512, 288],
      "id": "f1345bc1-23ba-4d5c-a69b-b8c3ed3255fd",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json.Felder || $input.item.json;\nconst systemPrompt = `Du bist der Social-Media-Texter der Physiotherapiepraxis Physio Fuchs.\nDu schreibst Instagram-Captions auf Deutsch fuer eine moderne, empathische Physiotherapiepraxis.\nTONALITAET:\n- Warm, professionell, motivierend - nie arrogant oder klinisch\n- Duzen der Community ist erwuenscht\n- Emojis: maximal 3-5 pro Caption, nur unterstuetzend\n- Keine Clickbait-Formulierungen\n- Keine medizinischen Versprechen (kein 'heilt', 'kuriert')\n- Erlaubt: 'kann helfen', 'unterstuetzt', 'lindert haeufig'\nCAPTION-AUFBAU:\n1. Hook (erste Zeile, max. 12 Woerter) - stopp-wuerdig, direkte Ansprache\n2. Hauptinhalt (3-5 Saetze) - Mehrwert, Tipps oder konkreter Einblick\n3. Handlungsaufruf (1 Satz) - Termin buchen, Kommentieren oder Beitrag speichern\nWICHTIG: Keine Hashtags in der Caption selbst.\nAUSGABE: Nur reines JSON ohne Markdown-Backticks oder erklaerenden Text davor/danach.\nExaktes Format:\n{\"variante_1\":{\"caption\":\"...\",\"hook_preview\":\"...(erste 15 Zeichen)\",\"ton\":\"informativ\"},\"variante_2\":{\"caption\":\"...\",\"hook_preview\":\"...\",\"ton\":\"persoenlich\"},\"variante_3\":{\"caption\":\"...\",\"hook_preview\":\"...\",\"ton\":\"motivierend\"},\"hashtag_set_1\":[\"#tag1\",\"#tag2\"],\"hashtag_set_2\":[\"#tag1\",\"#tag2\"]}`;\n\nconst thema = d.Field_1 || 'Physiotherapie';\nconst postTyp = d.Field_2 || 'Tipp';\nconst brief = d.Field_3 || '';\nconst datum = d.Field_4 || '';\nconst hashtag = d.Field_7 || '';\nconst wochentag = new Date(datum).toLocaleDateString('de-DE', {weekday: 'long'}) || 'Montag';\nconst monat = new Date().getMonth();\nconst jahreszeit = monat <= 1 || monat === 11 ? 'Winter' : monat <= 4 ? 'FrГјhling' : monat <= 7 ? 'Sommer' : 'Herbst';\n\nconst userMessage = `BRIEF VON JUDITH:\nThema: ${thema}\nPost-Typ: ${postTyp}\nAnweisung: ${brief}\nKONTEXT:\n- Wochentag der Veroeffentlichung: ${wochentag}\n- Jahreszeit: ${jahreszeit}\nVERFUEGBARER HASHTAG-POOL (waehle die 25-30 passendsten aus):\nKern-Tags: #physiofuchs #physiotherapie #physio #gesundheit #wohlbefinden\nThemen-Tags (${thema}): ${hashtag}\nReichweiten-Tags: #gesundheitstipp #fitnessmotivation #bewegung #schmerzfrei #physiotherapeut\nLokale Tags: #physiotherapieStadt #StadtGesundheit\nErstelle alle 3 Varianten im vorgegebenen JSON-Format. Nur reines JSON ausgeben, keine Erklaerungen.`;\n\nreturn {\n  json: {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 2048,\n    system: systemPrompt,\n    messages: [{ role: 'user', content: userMessage }]\n  }\n};"
      },
      "id": "4c9ed45b-4d21-4c7c-aeab-7920f9f6fce0",
      "name": "Build Claude Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [832, 272]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=  {{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1136, 272],
      "id": "a4e10474-484d-4924-aff3-2283e9e9f1a2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\n\n// Fehlercheck\nif (!response.content || !response.content[0]) {\n  throw new Error('Keine Antwort von Claude. Response: ' + JSON.stringify(response).substring(0, 300));\n}\n\nconst rawText = response.content[0].text;\n\n// JSON extrahieren (falls Claude Backticks mitliefert)\nlet parsed;\ntry {\n  const cleaned = rawText\n    .replace(/```json\\n?/gi, '')\n    .replace(/```\\n?/g, '')\n    .trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  const match = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      parsed = JSON.parse(match[0]);\n    } catch(e2) {\n      throw new Error('Claude-Output ist kein valides JSON:\\n' + rawText.substring(0, 400));\n    }\n  } else {\n    throw new Error('Kein JSON in Claude-Output gefunden:\\n' + rawText.substring(0, 400));\n  }\n}\n\n// Kosten berechnen\nconst inputTokens = response.usage?.input_tokens || 0;\nconst outputTokens = response.usage?.output_tokens || 0;\nconst costEur = Math.round((inputTokens * 0.000003 + outputTokens * 0.000015) * 100) / 100;\n\nreturn {\n  json: {\n    v1_caption: parsed.variante_1?.caption || '',\n    v1_hook:    parsed.variante_1?.hook_preview || '',\n    v1_ton:     parsed.variante_1?.ton || 'informativ',\n    v2_caption: parsed.variante_2?.caption || '',\n    v2_hook:    parsed.variante_2?.hook_preview || '',\n    v2_ton:     parsed.variante_2?.ton || 'persoenlich',\n    v3_caption: parsed.variante_3?.caption || '',\n    v3_hook:    parsed.variante_3?.hook_preview || '',\n    v3_ton:     parsed.variante_3?.ton || 'motivierend',\n    hashtags_set_1:  Array.isArray(parsed.hashtag_set_1) ? parsed.hashtag_set_1.join(' ') : '',\n    hashtags_set_2:  Array.isArray(parsed.hashtag_set_2) ? parsed.hashtag_set_2.join(' ') : '',\n    hashtags_array_1: parsed.hashtag_set_1 || [],\n    hashtags_array_2: parsed.hashtag_set_2 || [],\n    input_tokens:  inputTokens,\n    output_tokens: outputTokens,\n    cost_eur:      costEur,\n    generated_at:  new Date().toISOString(),\n    model:         'claude-sonnet-4-20250514'\n  }\n};"
      },
      "id": "fd3f6768-d6dc-4eba-97a8-2a2503000d10",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1408, 272]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1600, 272],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Merge SharePoint + Claude"
    },
    {
      "parameters": {
        "jsCode": "const json = $input.item.json;\n\n// SharePoint-Felder: beide Schreibweisen abfangen (Felder/fields, Field_x/field_x)\nconst f = json.Felder || json.fields || {};\n\n// Datum formatieren: \"10052026\" в†’ \"10.05.2026\"\nconst rawDatum = f.Field_4 || f.field_4 || '';\nlet datumFormatiert = rawDatum;\nif (rawDatum.length === 8 && /^\\d{8}$/.test(rawDatum)) {\n  datumFormatiert = rawDatum.substring(0,2) + '.' + rawDatum.substring(2,4) + '.' + rawDatum.substring(4);\n}\n\nreturn {\n  json: {\n    ...json,\n    thema:   f.Field_1 || f.field_1 || f.Title || '(kein Thema)',\n    datum:   datumFormatiert,\n    uhrzeit: f.Field_5 || f.field_5 || '',\n  }\n};"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789abc",
      "name": "Felder aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1824, 272]
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "operation": "sendAndWait",
        "chatId": {
          "__rl": true,
          "value": "19:meeting_MWViMzNlYmYtNTY1OS00NzM1LTlmMDAtNjRmZjA0YjY3OGFl@thread.v2",
          "mode": "list",
          "cachedResultName": "Social Media (meeting)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3Ameeting_MWViMzNlYmYtNTY1OS00NzM1LTlmMDAtNjRmZjA0YjY3OGFl%40thread.v2/0?tenantId=b349f8e5-511c-485a-be28-55e420a6a5e1"
        },
        "message": "=рџЊџ Neuer Post zur Freigabe вЂ“ {{ $json.generated_at.substring(0,10) }}\n\nрџ“‹ Thema: {{ $json.thema }}\nрџ—“пёЏ Geplant: {{ $json.datum }} um {{ $json.uhrzeit }} Uhr\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nVARIANTE 1 вЂ“ {{ $json.v1_ton }}\n\n{{ $json.v1_caption }}\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nVARIANTE 2 вЂ“ {{ $json.v2_ton }}\n\n{{ $json.v2_caption }}\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nVARIANTE 3 вЂ“ {{ $json.v3_ton }}\n\n{{ $json.v3_caption }}\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n# Hashtags: {{ $json.hashtags_set_1 }}\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nвњ… Variante wГ¤hlen (1, 2 oder 3)",
        "responseType": "freeText",
        "options": {
          "messageButtonLabel": "вњ… Variante wГ¤hlen (1, 2 oder 3)"
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [2048, 272],
      "id": "b7de1672-e1ea-47c7-b50d-29576b381014",
      "name": "Send message and wait for response",
      "webhookId": "a3b4cb5f-83bc-4711-a939-8e3799b4a447",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Gmvn1OD66IZoWsXh",
          "name": "PF Microsoft Teams account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manueller Test-Trigger": {
      "main": [
        [
          {
            "node": "Get many items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Build Claude Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge SharePoint + Claude",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Claude Payload": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Merge SharePoint + Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge SharePoint + Claude": {
      "main": [
        [
          {
            "node": "Felder aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Felder aufbereiten": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd889916-3421-4f08-b3e1-9f4f5a112c3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f40c6f6af7ce2011b04be6e4c65abbc6b998ddefd762d8f282912f30a607f9b9"
  },
  "id": "ORZyoQczawgopE8W",
  "tags": []
}
