02_n8n-Workflows/_Exporte-2026-07-20/PF_WF-00_Datum_Initialbefuellung.json
{
  "name": "PF – WF-00 Datum Initialbefüllung",
  "nodes": [
    {
      "parameters": {
        "content": "## PF – WF-00 Datum Initialbefüllung\n\n**Zweck:** Einmalig alle SharePoint-Items OHNE Veröffentlichungsdatum\nmit wöchentlichem Abstand ab heute befüllen.\n\n**Logik:**\nItem 1 → heute + 7 Tage\nItem 2 → heute + 14 Tage\nItem 3 → heute + 21 Tage\n...\n\n**NUR EINMAL AUSFÜHREN!**\nDanach deaktivieren oder löschen.",
        "height": 180,
        "width": 700,
        "color": 4
      },
      "id": "ec9a2f43-77a8-4942-9c58-0a3289c0d33d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "5a06920f-548a-4b8d-abdb-8966a187d1aa",
      "name": "Manueller Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        288,
        448
      ]
    },
    {
      "parameters": {
        "resource": "item",
        "site": {
          "__rl": true,
          "value": "physiofuchs889.sharepoint.com,c74040a2-0d6b-4385-b514-fbd9830a56ac,7a7842d6-ea6c-440d-aeed-580bdd2a091c",
          "mode": "list",
          "cachedResultName": "Physio Fuchs Administration"
        },
        "list": {
          "__rl": true,
          "value": "d17a6a6f-e6ef-457d-a2a9-4c30ea56120f",
          "mode": "list",
          "cachedResultName": "PF-Content-Kalender-2026"
        },
        "returnAll": true,
        "options": {},
        "simplify": false,
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        528,
        448
      ],
      "id": "74651344-6701-45ef-a30f-35ea0eea4707",
      "name": "Alle Items laden",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "PF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Nur Items ohne Veroeffentlichungsdatum (field_14)\nconst ohneDatum = items.filter(item => {\n  const f = item.json.fields || item.json;\n  const val = f.field_14 || '';\n  return val === '' || val === null || val === undefined;\n});\n\nconsole.log('Total: ' + items.length + ', ohne Datum: ' + ohneDatum.length);\n\n// Startdatum: heute + 7 Tage\nconst heute = new Date();\nheute.setHours(0, 0, 0, 0);\n\nconst result = [];\n\nfor (let index = 0; index < ohneDatum.length; index++) {\n  const item = ohneDatum[index];\n  const f = item.json.fields || item.json;\n\n  const d = new Date(heute);\n  d.setDate(d.getDate() + (7 * (index + 1)));\n\n  const dd   = String(d.getDate()).padStart(2, '0');\n  const mm   = String(d.getMonth() + 1).padStart(2, '0');\n  const yyyy = d.getFullYear();\n  const datum = yyyy + '-' + mm + '-' + dd + 'T00:00:00Z';\n\n  const rawId = item.json.id || item.json.AUSWEIS || item.json.ID || 0;\n  const itemId = parseInt(String(rawId).trim(), 10);\n\n  result.push({\n    json: {\n      itemId: itemId,\n      datum:  datum,\n      index:  index + 1,\n      thema:  f.field_1 || f.Title || '(kein Thema)'\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "95f930e1-d8a6-4a28-97e3-a1de0234c757",
      "name": "Datum berechnen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW/_api/web/lists(guid'd17a6a6f-e6ef-457d-a2a9-4c30ea56120f')/items({{ $json.itemId }})",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-HTTP-Method",
              "value": "MERGE"
            },
            {
              "name": "IF-MATCH",
              "value": "*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Ver_x00f6_ffentlichungsdatum\": \"{{ $json.datum }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        448
      ],
      "id": "834a0382-7af9-4849-a8a5-16f44b833363",
      "name": "SharePoint: Datum eintragen",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "PF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconsole.log(`✅ ${items.length} Items mit Datum befüllt`);\nreturn [{ json: { message: `${items.length} Items erfolgreich mit Datum befüllt`, fertig: true } }];"
      },
      "id": "52cc36b3-337d-44d8-badc-aca486f66bad",
      "name": "Zusammenfassung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        448
      ]
    }
  ],
  "connections": {
    "Manueller Start": {
      "main": [
        [
          {
            "node": "Alle Items laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alle Items laden": {
      "main": [
        [
          {
            "node": "Datum berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datum berechnen": {
      "main": [
        [
          {
            "node": "SharePoint: Datum eintragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SharePoint: Datum eintragen": {
      "main": [
        [
          {
            "node": "Zusammenfassung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}