02_n8n-Workflows/_Exporte-2026-07-20/PF_WF-01_v4_Foto_Video_Upload.json
{
  "name": "PF WF-01 v4 Foto Video Upload",
  "nodes": [
    {
      "parameters": {
        "content": "# WF-01 v4 Foto Video Upload \n\nWebhook: POST /sharepoint-content-v4-test\n\nZweck: Content einreichen v4 empfangen. Foto-Posts bleiben im Status Entwurf fuer WF-02/WF-03. Video/Reel/Story/Uebung-Uploads werden als Status Video eingegangen angelegt und separat weiterverarbeitet.\n\nWichtig vor Test: SharePoint-Choice Status muss Video eingegangen erlauben. Der sichtbare Formularbutton Video wird intern als Post_Typ Reel gespeichert, daher ist kein Choice-Wert Video noetig.\n\nNicht produktiv aktivieren, bevor Multipart-, Foto- und Video-Test erfolgreich sind.",
        "height": 180,
        "width": 920,
        "color": 5
      },
      "id": "dd95b498-613f-4810-b122-ee554a669789",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        80
      ]
    },
    {
      "parameters": {
        "content": "# Mapping v4\n\nFormular sendet multipart/form-data:\n- payload = JSON\n- foto = optional\n- video = optional\n\nNeue Felder: Material_Typ, Video_Hinweis, Ton_enthaelt_Sprache, _workflowZiel.\n\nSicherheit: Personen sichtbar + kein Einverstaendnis => Fehler.",
        "width": 320,
        "color": 3
      },
      "id": "3e36b65e-d7ca-49eb-b0b7-45efdedfcf69",
      "name": "Feldmapping",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        288
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sharepoint-content-v4-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c8a2eeab-083f-4d3d-9c94-ead2a4394e04",
      "name": "Formular Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        192,
        528
      ],
      "webhookId": "pf-wf01-content-einreichung-v4-test"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.body || $input.first().json;\nconst binary = $input.first().binary || {};\n\nlet body = raw;\nif (typeof raw.payload === 'string') {\n  try {\n    body = JSON.parse(raw.payload);\n  } catch (error) {\n    throw new Error('Payload konnte nicht als JSON gelesen werden');\n  }\n}\n\nfunction formatDatum(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  if (isNaN(d)) return iso;\n  const dd = String(d.getDate()).padStart(2, '0');\n  const mm = String(d.getMonth() + 1).padStart(2, '0');\n  const yyyy = d.getFullYear();\n  return yyyy + '-' + mm + '-' + dd;\n}\n\nfunction clean(value) {\n  return String(value || '').trim();\n}\n\nconst thema = clean(body.Thema || body.Title || body.thema);\nif (!thema) throw new Error('Pflichtfeld Thema fehlt');\n\nconst personenSichtbar = clean(body.Personen_sichtbar || 'nein').toLowerCase();\nconst einverstaendnis = clean(body.Einverstaendnis_vorhanden || 'nein').toLowerCase();\nif (personenSichtbar === 'ja' && einverstaendnis !== 'ja') {\n  throw new Error('DSGVO-Sperre: Personen sichtbar, aber Einverstaendnis fehlt');\n}\n\nconst postTyp = clean(body.Post_Typ || body.postTyp || 'Standard');\nconst videoTypes = ['Reel', 'Story', 'Übung', 'Uebung'];\nconst fotoQuelle = clean(body.Foto_Quelle || 'none').toLowerCase();\nlet materialTyp = clean(body.Material_Typ || '').toLowerCase();\nif (!materialTyp) {\n  materialTyp = fotoQuelle === 'video' ? 'video' : fotoQuelle === 'upload' ? 'foto' : fotoQuelle === 'stock' ? 'stock' : 'kein_upload';\n}\n\nconst hasFotoBinary = Boolean(binary.foto || binary.Foto_Upload || (materialTyp !== 'video' && binary.data));\nconst hasVideoBinary = Boolean(binary.video || binary.Video_Upload || (materialTyp === 'video' && binary.data));\n\nif (materialTyp === 'foto' && !hasFotoBinary) {\n  throw new Error('Material_Typ=foto, aber kein Foto-Binary empfangen');\n}\nif (materialTyp === 'video' && !hasVideoBinary) {\n  throw new Error('Material_Typ=video, aber kein Video-Binary empfangen');\n}\nif (videoTypes.includes(postTyp) && materialTyp !== 'video') {\n  throw new Error('Post_Typ ist Video/Reel/Story/Uebung, aber Material_Typ ist nicht video');\n}\n\nconst brief     = clean(body.Content_Brief || body.textIdee);\nconst datum     = formatDatum(body.Veroeffentlichungsdatum || body.wunschDatum || '');\nconst uhrzeit   = clean(body.Uhrzeit || body.uhrzeit);\nconst hashtag   = clean(body.Hashtag_Thema || body.hashtag);\nconst bild      = clean(body.Bild_Dateiname || body.bildBeschreibung);\nconst freigabe  = clean(body.Freigabe_Person || 'Judith');\nconst kommentar = clean(body.Kommentare || body.notiz);\nconst videoHinweis = clean(body.Video_Hinweis);\nconst tonSprache = clean(body.Ton_enthaelt_Sprache || 'unbekannt').toLowerCase();\n\n// NEU: Sofort-Posten Flag aus Formular-Checkbox\nconst sofortPosten = body.Sofort_Posten === true || body.Sofort_Posten === 'true';\n\nconst status = materialTyp === 'video' ? 'Video eingegangen' : 'Entwurf';\nconst workflowZiel = materialTyp === 'video' ? 'video-reel-story' : 'foto-feed-post';\n\nconst materialMeta = [\n  'WF-01 v4 Material-Input:',\n  '- Workflow-Ziel: ' + workflowZiel,\n  '- Material-Typ: ' + materialTyp,\n  '- Foto-Quelle: ' + fotoQuelle,\n  body.Foto_Motiv ? '- Motiv: ' + clean(body.Foto_Motiv) : null,\n  videoHinweis ? '- Video-Hinweis: ' + videoHinweis : null,\n  materialTyp === 'video' ? '- Ton enthaelt Sprache: ' + tonSprache : null,\n  '- Personen sichtbar: ' + personenSichtbar,\n  '- Einverstaendnis vorhanden: ' + einverstaendnis,\n  body.Zuschnitt_Hinweis ? '- Zuschnitt: ' + clean(body.Zuschnitt_Hinweis) : null,\n  sofortPosten ? '- 🚀 SOFORT-POSTEN aktiviert (Karenz + Datum werden in WF-03 übersprungen)' : null,\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    Title: thema,\n    field_1: thema,\n    field_2: postTyp,\n    field_3: brief,\n    field_5: uhrzeit,\n    field_6: status,\n    field_7: hashtag,\n    field_8: bild,\n    field_11: freigabe,\n    field_13: [kommentar, materialMeta].filter(Boolean).join('\\n\\n'),\n    Ver_x00f6_ffentlichungsdatum: datum,\n    Sofort_Posten: sofortPosten,\n    _eingereichtVon: body._eingereichtVon || 'Judith',\n    _eingereichtAm: body._eingereichtAm || new Date().toISOString(),\n    _workflow_ziel: workflowZiel,\n    _postTyp: postTyp,\n    _datum: datum,\n    _material_typ: materialTyp,\n    _foto_quelle: fotoQuelle,\n    _foto_motiv: clean(body.Foto_Motiv),\n    _video_hinweis: videoHinweis,\n    _ton_enthaelt_sprache: tonSprache,\n    _personen_sichtbar: personenSichtbar,\n    _einverstaendnis_vorhanden: einverstaendnis,\n    _zuschnitt_hinweis: clean(body.Zuschnitt_Hinweis),\n    _sofort_posten: sofortPosten,\n    _has_foto_binary: hasFotoBinary,\n    _has_video_binary: hasVideoBinary,\n  },\n  binary,\n}];"
      },
      "id": "3a70e2cc-2ab4-4457-8cb0-08fce0434fa6",
      "name": "Felder mappen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        528
      ]
    },
    {
      "parameters": {
        "resource": "item",
        "operation": "create",
        "site": {
          "__rl": true,
          "value": "physiofuchs889.sharepoint.com,c74040a2-0d6b-4385-b514-fbd9830a56ac,7a7842d6-ea6c-440d-aeed-580bdd2a091c",
          "mode": "list",
          "cachedResultName": "Physio Fuchs Administration"
        },
        "list": {
          "__rl": true,
          "value": "d17a6a6f-e6ef-457d-a2a9-4c30ea56120f",
          "mode": "list",
          "cachedResultName": "PF-Content-Kalender-2026"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "field_13": "={{ $json.field_13 }}",
            "Title": "={{ $json.field_1 }}",
            "field_1": "={{ $json.field_1 }}",
            "field_2": "={{ $json.field_2 }}",
            "field_3": "={{ $json.field_3 }}",
            "field_5": "={{ $json.field_5 }}",
            "field_7": "={{ $json.field_7 }}",
            "field_8": "={{ $json.field_8 }}",
            "field_11": "={{ $json.field_11 }}",
            "field_6": "={{ $json.field_6}}",
            "Ver_x00f6_ffentlichungsdatum": "={{ $json.Ver_x00f6_ffentlichungsdatum }}",
            "Sofort_Posten": "={{ $json.Sofort_Posten }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Title",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_1",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Thema",
              "readOnly": false,
              "required": false,
              "type": "options",
              "options": [
                {
                  "name": "Praxis & Team",
                  "value": "Praxis & Team"
                },
                {
                  "name": "Knie & Hüfte",
                  "value": "Knie & Hüfte"
                },
                {
                  "name": "Sport & Prävention",
                  "value": "Sport & Prävention"
                },
                {
                  "name": "Entspannung",
                  "value": "Entspannung"
                },
                {
                  "name": "Haltung",
                  "value": "Haltung"
                },
                {
                  "name": "Schulter",
                  "value": "Schulter"
                },
                {
                  "name": "Füße & Sprunggelenk",
                  "value": "Füße & Sprunggelenk"
                },
                {
                  "name": "Wirbelsäule",
                  "value": "Wirbelsäule"
                },
                {
                  "name": "Rücken",
                  "value": "Rücken"
                },
                {
                  "name": "Herbst-Gesundheit",
                  "value": "Herbst-Gesundheit"
                }
              ]
            },
            {
              "id": "field_2",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Post_Typ",
              "readOnly": false,
              "required": false,
              "type": "options",
              "options": [
                {
                  "name": "Tipp",
                  "value": "Tipp"
                },
                {
                  "name": "Team",
                  "value": "Team"
                },
                {
                  "name": "Übung",
                  "value": "Übung"
                },
                {
                  "name": "Promo",
                  "value": "Promo"
                },
                {
                  "name": "Standard",
                  "value": "Standard"
                },
                {
                  "name": "Zitat",
                  "value": "Zitat"
                },
                {
                  "name": "Story",
                  "value": "Story"
                },
                {
                  "name": "FAQ",
                  "value": "FAQ"
                },
                {
                  "name": "Aktion",
                  "value": "Aktion"
                },
                {
                  "name": "Behind-the-Scenes",
                  "value": "Behind-the-Scenes"
                },
                {
                  "name": "Mitarbeiter:in",
                  "value": "Mitarbeiter:in"
                },
                {
                  "name": "Praxis-News",
                  "value": "Praxis-News"
                },
                {
                  "name": "Reel",
                  "value": "Reel"
                }
              ]
            },
            {
              "id": "field_3",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Content_Brief",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_5",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Uhrzeit",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_6",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Status",
              "readOnly": false,
              "required": false,
              "type": "options",
              "options": [
                {
                  "name": "Entwurf",
                  "value": "Entwurf"
                },
                {
                  "name": "Bereit",
                  "value": "Bereit"
                },
                {
                  "name": "Freigegeben",
                  "value": "Freigegeben"
                },
                {
                  "name": "Geplant",
                  "value": "Geplant"
                },
                {
                  "name": "Veröffentlicht",
                  "value": "Veröffentlicht"
                },
                {
                  "name": "Video eingegangen",
                  "value": "Video eingegangen"
                },
                {
                  "name": "KI-Texte fertig",
                  "value": "KI-Texte fertig"
                },
                {
                  "name": "Canva in Bearbeitung",
                  "value": "Canva in Bearbeitung"
                },
                {
                  "name": "Freigabe offen",
                  "value": "Freigabe offen"
                },
                {
                  "name": "Reel freigegeben",
                  "value": "Reel freigegeben"
                }
              ],
              "removed": false
            },
            {
              "id": "field_7",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Hashtag_Thema",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_8",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Bild_Dateiname",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_9",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Canva_Template_ID",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "field_10",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Caption_Variante",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "field_11",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Freigabe_Person",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_12",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Instagram_Post_ID",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "field_13",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Kommentare",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "Ver_x00f6_ffentlichungsdatum",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Veröffentlichungsdatum",
              "readOnly": false,
              "required": false,
              "type": "dateTime",
              "removed": false
            },
            {
              "id": "Bild_FB_Dateiname",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Bild_FB_Dateiname",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": false
            },
            {
              "id": "Sofort_Posten",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Sofort_Posten",
              "readOnly": false,
              "required": false,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        720,
        528
      ],
      "id": "b6ea6319-2a3e-40ac-a990-cdbb43a4f5df",
      "name": "SharePoint: Item erstellen",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "PF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"message\": \"Einreichung gespeichert\", \"status\": \"{{ $('Felder mappen').first().json.field_6 }}\", \"workflow_ziel\": \"{{ $('Felder mappen').first().json._workflow_ziel }}\", \"item_id\": {{ $('SharePoint: Item erstellen').first().json.id || $('SharePoint: Item erstellen').first().json.fields?.id || 0 }}, \"thema\": \"{{ $('Felder mappen').first().json.field_1 }}\", \"foto\": \"{{ $('Code: Material-Dateinamen bauen').first().json.photo_filename || '' }}\", \"video\": \"{{ $('Code: Material-Dateinamen bauen').first().json.video_filename || '' }}\", \"projekt\": \"{{ $('Code: Material-Dateinamen bauen').first().json.video_project_folder || '' }}\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "018f00fa-3e79-4f19-8889-88e96ae30554",
      "name": "HTTP Response → Formular",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1648,
        384
      ]
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "812e3aea-74e1-44e9-8577-abcb5350c8b5",
          "mode": "list",
          "cachedResultName": "Physio Fuchs Administration"
        },
        "channelId": {
          "__rl": true,
          "value": "19:30f23b8751554d14a514b2ee3e537dbb@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Socialmedia",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3A30f23b8751554d14a514b2ee3e537dbb%40thread.tacv2/Socialmedia?groupId=812e3aea-74e1-44e9-8577-abcb5350c8b5&tenantId=b349f8e5-511c-485a-be28-55e420a6a5e1&allowXTenantAccess=False"
        },
        "contentType": "html",
        "message": "=<h2>✅ Neue Content-Einreichung</h2>\n\n<p>\n<b>Item-ID:</b> {{ $('SharePoint: Item erstellen').first().json.id }}<br>\n<b>Thema:</b> {{ $('Felder mappen').first().json.field_1 }}<br>\n<b>Post-Typ:</b> {{ $('Felder mappen').first().json.field_2 }}<br>\n<b>Status:</b> {{ $('Felder mappen').first().json.field_6 }}<br>\n<b>Workflow:</b> {{ $('Felder mappen').first().json._workflow_ziel }}<br>\n<b>Geplant:</b> {{ $('Felder mappen').first().json._datum }} {{ $('Felder mappen').first().json.field_5 || '10:00' }} Uhr\n</p>\n\n<hr>\n\n<h3>📎 Material</h3>\n<p>\n<b>Typ:</b> {{ $('Felder mappen').first().json._material_typ }}<br>\n<b>Foto:</b> <code>{{ $('Code: Material-Dateinamen bauen').first().json.photo_filename || 'kein Foto-Upload' }}</code><br>\n<b>Video:</b> <code>{{ $('Code: Material-Dateinamen bauen').first().json.video_filename || 'kein Video-Upload' }}</code><br>\n<b>Projekt:</b> <code>{{ $('Code: Material-Dateinamen bauen').first().json.video_project_folder || '-' }}</code>\n</p>\n\n<p>\nFoto-Posts laufen automatisch weiter über WF-02/WF-03.<br>\nVideo-/Reel-Items bleiben zunächst auf <b>Video eingegangen</b>; WF-05 erzeugt danach automatisch Caption, CTA und Hashtags.\n</p>\n\n<hr>\n\n<p style=\"color:#666;font-size:0.9em;\">\nWF-01 v4 Foto Video Upload\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1808,
        640
      ],
      "id": "2d3bd87b-3a2f-4406-9928-4112ad49ad0a",
      "name": "Teams: Eingang melden",
      "webhookId": "0d17356d-fe0c-4308-a4ed-8a09d39655ba",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Gmvn1OD66IZoWsXh",
          "name": "PF Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const created = $('SharePoint: Item erstellen').first().json;\nconst mapped = $('Felder mappen').first();\nconst data = mapped.json;\nconst binary = mapped.binary || {};\n\nconst itemIdRaw = created.id || created.fields?.id || created.Ausweis || created.ID;\nconst itemId = String(itemIdRaw || '').padStart(3, '0');\nconst datumRaw = data.Ver_x00f6_ffentlichungsdatum || data._datum;\nconst year = datumRaw ? new Date(datumRaw).getFullYear() : new Date().getFullYear();\n\nfunction slugify(value) {\n  return String(value || 'post')\n    .toLowerCase()\n    .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue').replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .replace(/_+/g, '_')\n    .slice(0, 40) || 'post';\n}\n\nconst fotoBinary = binary.foto || binary.Foto_Upload || (data._material_typ !== 'video' ? binary.data : undefined);\nconst videoBinary = binary.video || binary.Video_Upload || (data._material_typ === 'video' ? binary.data : undefined);\nconst slug = slugify(data._foto_motiv || data.field_1);\n\nconst fotoOriginalName = fotoBinary?.fileName || 'foto.jpg';\nconst fotoExtMatch = fotoOriginalName.toLowerCase().match(/\\.(jpe?g|png|webp)$/);\nconst fotoExt = fotoExtMatch ? fotoExtMatch[1].replace('jpeg', 'jpg') : 'jpg';\nconst photoFilename = data._material_typ === 'foto' ? `PF_${year}_${itemId}_${slug}.${fotoExt}` : '';\n\nconst videoOriginalName = videoBinary?.fileName || 'video.mp4';\nconst videoExtMatch = videoOriginalName.toLowerCase().match(/\\.(mp4|mov)$/);\nconst videoExt = videoExtMatch ? videoExtMatch[1] : 'mp4';\nconst videoFilename = data._material_typ === 'video' ? `PF_${year}_${itemId}_${slug}_raw.${videoExt}` : '';\nconst projectFolder = data._material_typ === 'video'\n  ? `${year}-${String(new Date(datumRaw || Date.now()).getMonth() + 1).padStart(2, '0')}-${String(new Date(datumRaw || Date.now()).getDate()).padStart(2, '0')}_PF-${year}-${itemId}_${slug}`\n  : '';\n\nconst SP_SITE = 'https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW';\nconst fotoFolderRel = `/sites/PhysioFuchsTW/Freigegebene Dokumente/Socialmedia/Content_Socialmedia/Fotos/${year}`;\nconst videoFolderRel = projectFolder\n  ? `/sites/PhysioFuchsTW/Freigegebene Dokumente/Socialmedia/Content_Socialmedia/Reels_Stories/${projectFolder}/01_Rohmaterial`\n  : '';\n\nfunction uploadUrl(folderRel, filename) {\n  if (!folderRel || !filename) return '';\n  const safeFolder = folderRel.replace(/'/g, \"''\");\n  const safeFilename = filename.replace(/'/g, \"''\");\n  return `${SP_SITE}/_api/web/GetFolderByServerRelativeUrl('${safeFolder}')/Files/add(url='${safeFilename}',overwrite=false)`;\n}\n\nreturn [{\n  json: {\n    ...data,\n    _sp_item_id: itemIdRaw,\n    photo_should_upload: data._material_typ === 'foto' && Boolean(fotoBinary),\n    video_should_upload: data._material_typ === 'video' && Boolean(videoBinary),\n    photo_filename: photoFilename,\n    video_filename: videoFilename,\n    video_project_folder: projectFolder,\n    photo_year: year,\n    photo_folder_rel: fotoFolderRel,\n    video_folder_rel: videoFolderRel,\n    photo_upload_url: uploadUrl(fotoFolderRel, photoFilename),\n    video_upload_url: uploadUrl(videoFolderRel, videoFilename),\n  },\n  binary: {\n    ...(fotoBinary ? { foto: fotoBinary } : {}),\n    ...(videoBinary ? { video: videoBinary } : {}),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        528
      ],
      "id": "127b362e-d712-4651-b2fc-4f1fa495dece",
      "name": "Code: Material-Dateinamen bauen"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "foto-upload-enabled",
              "leftValue": "={{ $json.photo_should_upload }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        528
      ],
      "id": "38e47220-e996-4ed4-bc72-651fe8679485",
      "name": "IF: Foto hochladen?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.photo_upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json;odata=verbose"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.foto.mimeType || \"image/jpeg\" }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "foto",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        416
      ],
      "id": "c1d8932e-afda-46b5-bae1-e484d1e90fa3",
      "name": "HTTP: SP Foto Upload",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "PF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const foto = $('Code: Material-Dateinamen bauen').first().json;\nconst mapped = $('Felder mappen').first().json;\nconst upload = $input.first().json || {};\nconst now = new Date().toISOString().slice(0, 16).replace('T', ' ');\nconst statusCode = upload.statusCode || upload.status || 200;\nconst uploadOk = statusCode < 400 && !upload.error;\nconst logLine = uploadOk\n  ? `${now} WF-01 v4: Foto-Upload gespeichert als ${foto.photo_filename}`\n  : `${now} WF-01 v4: Foto-Upload pruefen - Response ${statusCode}`;\n\nreturn [{\n  json: {\n    _sp_item_id: foto._sp_item_id,\n    photo_filename: foto.photo_filename,\n    payload: {\n      field_8: foto.photo_filename,\n      field_13: [mapped.field_13 || '', logLine].filter(Boolean).join('\\n')\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        128
      ],
      "id": "7747f7c9-f68a-477c-b91e-5c37be18d6b7",
      "name": "Code: SP Foto-Log Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW/_api/web/lists(guid'd17a6a6f-e6ef-457d-a2a9-4c30ea56120f')/items({{ $json._sp_item_id }})",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-HTTP-Method",
              "value": "MERGE"
            },
            {
              "name": "IF-MATCH",
              "value": "*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        384
      ],
      "id": "a28cc77e-fb18-44b5-a4f9-abdce12f75a8",
      "name": "SP: Item Foto-Log aktualisieren",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "PF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "foto-upload-enabled",
              "leftValue": "={{ $json.video_should_upload }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        800
      ],
      "id": "ef6f1883-3763-441d-8c4c-5c62e46ec115",
      "name": "IF: Video hochladen?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.video_upload_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json;odata=verbose"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.video.mimeType || \"video/mp4\" }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "video",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        688
      ],
      "id": "c437718e-ba44-4495-bd22-c6b88b0c9311",
      "name": "HTTP: SP Video Upload",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "PF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const material = $('Code: Material-Dateinamen bauen').first().json;\nconst mapped = $('Felder mappen').first().json;\nconst upload = $input.first().json || {};\nconst now = new Date().toISOString().slice(0, 16).replace('T', ' ');\nconst statusCode = upload.statusCode || upload.status || 200;\nconst uploadOk = statusCode < 400 && !upload.error;\nconst logLine = uploadOk\n  ? `${now} WF-01 v4: Video-Upload gespeichert als ${material.video_filename} im Projekt ${material.video_project_folder}`\n  : `${now} WF-01 v4: Video-Upload pruefen - Response ${statusCode}`;\n\nreturn [{\n  json: {\n    _sp_item_id: material._sp_item_id,\n    video_filename: material.video_filename,\n    video_project_folder: material.video_project_folder,\n    payload: {\n      field_6: 'Video eingegangen',\n      field_8: material.video_filename,\n      field_13: [mapped.field_13 || '', logLine].filter(Boolean).join('\\n')\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        896
      ],
      "id": "dbb5aec7-cd7e-4bfb-a6b4-78f9a23f8641",
      "name": "Code: SP Video-Log Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW/_api/web/lists(guid'd17a6a6f-e6ef-457d-a2a9-4c30ea56120f')/items({{ $json._sp_item_id }})",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-HTTP-Method",
              "value": "MERGE"
            },
            {
              "name": "IF-MATCH",
              "value": "*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        608
      ],
      "id": "80623592-e2a7-4fed-908b-1317bf9d073e",
      "name": "SP: Item Video-Log aktualisieren",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "PF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OQIqADQvVPmFiUO6",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "id": "d28fc73b-5563-4aff-94b7-a68eacb8c6fa",
      "name": "Execute Workflow: WF-02",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2400,
        400
      ]
    }
  ],
  "connections": {
    "Formular Webhook": {
      "main": [
        [
          {
            "node": "Felder mappen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Felder mappen": {
      "main": [
        [
          {
            "node": "SharePoint: Item erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SharePoint: Item erstellen": {
      "main": [
        [
          {
            "node": "Code: Material-Dateinamen bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Foto hochladen?": {
      "main": [
        [
          {
            "node": "HTTP: SP Foto Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: Video hochladen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: SP Foto Upload": {
      "main": [
        [
          {
            "node": "Code: SP Foto-Log Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: SP Foto-Log Payload": {
      "main": [
        [
          {
            "node": "SP: Item Foto-Log aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP: Item Foto-Log aktualisieren": {
      "main": [
        [
          {
            "node": "HTTP Response → Formular",
            "type": "main",
            "index": 0
          },
          {
            "node": "Teams: Eingang melden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Material-Dateinamen bauen": {
      "main": [
        [
          {
            "node": "IF: Foto hochladen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Video hochladen?": {
      "main": [
        [
          {
            "node": "HTTP: SP Video Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Response → Formular",
            "type": "main",
            "index": 0
          },
          {
            "node": "Teams: Eingang melden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: SP Video Upload": {
      "main": [
        [
          {
            "node": "Code: SP Video-Log Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: SP Video-Log Payload": {
      "main": [
        [
          {
            "node": "SP: Item Video-Log aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP: Item Video-Log aktualisieren": {
      "main": [
        [
          {
            "node": "HTTP Response → Formular",
            "type": "main",
            "index": 0
          },
          {
            "node": "Teams: Eingang melden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teams: Eingang melden": {
      "main": [
        [
          {
            "node": "Execute Workflow: WF-02",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}