02_n8n-Workflows/_Exporte-2026-07-20/PF_WF-06_Reel_Posting.json
{
  "name": "PF WF-06 Reel Posting",
  "nodes": [
    {
      "parameters": {
        "content": "# PF WF-06 Reel Posting\n\nPostet nur SharePoint-Items mit Status \"Reel freigegeben\".\n\nPflicht vor Posting:\n- Freigabe_Person = Judith\n- Caption vorhanden\n- Video_Public_URL vorhanden, oeffentlich abrufbar, mp4/mov\n- Datenschutz/Einverstaendnis im Kommentar dokumentiert\n\nOutput: Status Veroeffentlicht, IG-Post-ID in field_12, Log in field_13.\n\nErste Version: Instagram Reel + Facebook Page Video. Kein Posting ohne Judith-Freigabe."
      },
      "id": "42ac4801-e79a-4a0d-ba98-f13851791d9a",
      "name": "Doku: WF-06 Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "bf6915e4-7cfc-405d-b079-8010516510a3",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        352
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "f105237a-0de5-4d85-a342-19d894656175",
      "name": "Schedule: alle 60 Minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        528
      ]
    },
    {
      "parameters": {
        "resource": "item",
        "site": {
          "__rl": true,
          "value": "physiofuchs889.sharepoint.com,c74040a2-0d6b-4385-b514-fbd9830a56ac,7a7842d6-ea6c-440d-aeed-580bdd2a091c",
          "mode": "list",
          "cachedResultName": "Physio Fuchs Administration"
        },
        "list": {
          "__rl": true,
          "value": "d17a6a6f-e6ef-457d-a2a9-4c30ea56120f",
          "mode": "list",
          "cachedResultName": "PF-Content-Kalender-2026"
        },
        "options": {
          "fields": [
            "fields"
          ]
        },
        "simplify": false,
        "requestOptions": {}
      },
      "id": "39bba41d-4add-4bbf-871b-297da1c4f733",
      "name": "SP: Reel-Freigaben holen",
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        320,
        432
      ],
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "PF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst results = [];\nconst skipped = [];\n\nfunction clean(v) { return String(v || '').trim(); }\nfunction findVideoUrl(f, comments) {\n  const candidates = [\n    clean(f.Video_Public_URL),\n    clean(f.video_public_url),\n    clean(f.field_9),\n    clean(f.LinkTitel),\n  ].filter(Boolean);\n  const m = comments.match(/(?:Video_Public_URL|Public Video URL|Video URL)\\s*:\\s*(https?:\\/\\/\\S+)/i);\n  if (m) candidates.unshift(m[1]);\n  return candidates.find(url => /^https?:\\/\\//i.test(url) && /\\.(mp4|mov)(\\?|#|$)/i.test(url)) || '';\n}\nfunction extract(label, comments) {\n  const re = new RegExp('- ' + label + ':\\\\s*([^\\\\n]+)', 'i');\n  const m = comments.match(re);\n  return m ? m[1].trim().toLowerCase() : '';\n}\n\nfor (const item of items) {\n  const f = item.json.fields || {};\n  const status = clean(f.field_6 || f.Status);\n  const itemId = item.json.id || item.json.Ausweis || f.id || f.ID;\n  const title = clean(f.Title || f.field_1);\n  const freigabe = clean(f.field_11 || f.Freigabe_Person);\n  const caption = clean(f.field_10 || f.Caption_Variante);\n  const hashtags = clean(f.field_7 || f.Hashtag_Thema);\n  const comments = clean(f.field_13 || f.Kommentare);\n  const videoUrl = findVideoUrl(f, comments);\n  const datumRaw = f.Ver_x00f6_ffentlichungsdatum || '';\n  const uhrzeit = clean(f.field_5 || '09:00');\n  const reasons = [];\n\n  if (status !== 'Reel freigegeben') reasons.push('status=' + (status || 'leer'));\n  if (freigabe.toLowerCase() !== 'judith') reasons.push('freigabe=' + (freigabe || 'leer'));\n  if (!caption) reasons.push('caption_fehlt');\n  if (!videoUrl) reasons.push('video_public_url_fehlt');\n\n  const personen = extract('Personen sichtbar', comments);\n  const einverstaendnis = extract('Einverstaendnis vorhanden', comments) || extract('Einverständnis vorhanden', comments);\n  if (personen === 'ja' && einverstaendnis !== 'ja') reasons.push('einverstaendnis_fehlt');\n\n  if (datumRaw) {\n    const dateOnly = String(datumRaw).split('T')[0];\n    const scheduledTime = new Date(dateOnly + 'T' + uhrzeit + ':00');\n    if (!isNaN(scheduledTime) && scheduledTime > now) reasons.push('scheduled_future=' + dateOnly + ' ' + uhrzeit);\n  }\n\n  const debugRow = {\n    item_id: itemId,\n    title,\n    status,\n    freigabe,\n    has_caption: Boolean(caption),\n    has_video_public_url: Boolean(videoUrl),\n    video_url_preview: videoUrl || '',\n    scheduled: datumRaw ? String(datumRaw).split('T')[0] + ' ' + uhrzeit : '',\n    reasons,\n  };\n\n  if (reasons.length) {\n    skipped.push(debugRow);\n    continue;\n  }\n\n  results.push({ json: {\n    _wf06_ready: true,\n    item_id: itemId,\n    title,\n    video_url: videoUrl,\n    caption,\n    hashtags,\n    caption_with_hashtags: caption + (hashtags ? '\\n\\n' + hashtags : ''),\n    fb_description: caption,\n    sp_fields: f,\n    existing_log: comments,\n  }});\n}\n\nif (results.length > 0) return results.slice(0, 1);\n\nreturn [{ json: {\n  _wf06_ready: false,\n  debug: 'Kein Item hat den WF-06 Preflight bestanden. Diese Debug-Ausgabe wird nicht gepostet.',\n  checked_items: items.length,\n  skipped: skipped.slice(0, 20),\n}}];"
      },
      "id": "10efedb5-3f6a-44f8-befd-a7bced410db2",
      "name": "Filter: Reel freigegeben + Preflight",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/17841461169626096/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $json.video_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption_with_hashtags }}"
            },
            {
              "name": "share_to_feed",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "99407631-5513-4be8-9b89-2dd95a15f737",
      "name": "IG: Reel Container erstellen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        432
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "wDgOr4JQhZcj4kAK",
          "name": "PF Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "amount": 90,
        "unit": "seconds"
      },
      "id": "6a8acc27-d043-4122-91ef-807111d70842",
      "name": "Wait 90s IG Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1136,
        432
      ],
      "webhookId": "7f713cee-68fe-47d0-8eec-2ac3caad3ca4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/17841461169626096/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('IG: Reel Container erstellen').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "97d5f7e9-0776-440b-a9c6-eac2304544b1",
      "name": "IG: Reel Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        432
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "wDgOr4JQhZcj4kAK",
          "name": "PF Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/104383336093043/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "=={{ $('Filter: Reel freigegeben + Preflight').item.json.video_url }}"
            },
            {
              "name": "description",
              "value": "=={{ $('Filter: Reel freigegeben + Preflight').item.json.fb_description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7ef90b48-dd5e-4a64-afc1-483e9f9db3e2",
      "name": "FB: Page Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        432
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "wDgOr4JQhZcj4kAK",
          "name": "PF Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $('Filter: Reel freigegeben + Preflight').item.json;\nconst igResp = $('IG: Reel Publish').item.json || {};\nconst fbResp = $('FB: Page Video').item.json || {};\nconst igPostId = igResp.id || '';\nconst fbPostId = fbResp.id || fbResp.video_id || '';\nconst now = new Date().toISOString().slice(0, 16).replace('T', ' ');\nconst log = [\n  item.existing_log || '',\n  `${now} WF-06: Reel/Video veroeffentlicht - IG ${igPostId || 'unbekannt'} / FB ${fbPostId || 'unbekannt'}`,\n  `Video_Public_URL: ${item.video_url}`,\n].filter(Boolean).join('\\n');\nreturn [{ json: {\n  _sp_item_id: item.item_id,\n  payload: {\n    field_6: 'Veröffentlicht',\n    field_12: igPostId,\n    field_13: log,\n  }\n}}];"
      },
      "id": "7d9d11a4-5b90-4947-9beb-2f490554d312",
      "name": "Code: SP Update Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://physiofuchs889.sharepoint.com/sites/PhysioFuchsTW/_api/web/lists(guid'd17a6a6f-e6ef-457d-a2a9-4c30ea56120f')/items({{ $json._sp_item_id }})",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftSharePointOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-HTTP-Method",
              "value": "MERGE"
            },
            {
              "name": "IF-MATCH",
              "value": "*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "4a8dba09-dc41-4c56-bc83-391df5f28869",
      "name": "SP: Status Veröffentlicht",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        432
      ],
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "PF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2b567c3-4b03-40b7-b58d-ffa8485938bb",
              "leftValue": "={{ $json._wf06_ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b83fdee7-d89a-4f1d-aa6d-05247d489cf6",
      "name": "IF: Posting ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        432
      ]
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "812e3aea-74e1-44e9-8577-abcb5350c8b5",
          "mode": "list",
          "cachedResultName": "Physio Fuchs Administration"
        },
        "channelId": {
          "__rl": true,
          "value": "19:30f23b8751554d14a514b2ee3e537dbb@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Socialmedia",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3A30f23b8751554d14a514b2ee3e537dbb%40thread.tacv2/Socialmedia?groupId=812e3aea-74e1-44e9-8577-abcb5350c8b5&tenantId=b349f8e5-511c-485a-be28-55e420a6a5e1&allowXTenantAccess=False"
        },
        "contentType": "html",
        "message": "=<h2>Reel wurde veroeffentlicht</h2><p><b>SharePoint Item:</b> {{ $('Code: SP Update Payload').first().json._sp_item_id }}<br><b>Instagram Post ID:</b> {{ $('IG: Reel Publish').first().json.id || 'unbekannt' }}<br><b>Facebook Video ID:</b> {{ $('FB: Page Video').first().json.id || $('FB: Page Video').first().json.video_id || 'unbekannt' }}</p><p>SharePoint wurde auf <b>Veroeffentlicht</b> aktualisiert.</p><hr><p style=\"color:#666;font-size:0.9em;\">WF-06 Reel Posting</p>",
        "options": {}
      },
      "id": "16250dca-95fd-4c6e-8aad-18efb33f7ade",
      "name": "Teams: Reel veroeffentlicht melden",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2272,
        432
      ],
      "webhookId": "10bc9a47-789c-47ab-a959-79997d8e6d35",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Gmvn1OD66IZoWsXh",
          "name": "PF Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v25.0/me/accounts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2000,
        688
      ],
      "id": "3ae3df92-4ee0-400c-a98b-dcbd7024200c",
      "name": "HTTP Request",
      "credentials": {
        "facebookGraphApi": {
          "id": "wDgOr4JQhZcj4kAK",
          "name": "PF Facebook Graph account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "SP: Reel-Freigaben holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule: alle 60 Minuten": {
      "main": [
        [
          {
            "node": "SP: Reel-Freigaben holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP: Reel-Freigaben holen": {
      "main": [
        [
          {
            "node": "Filter: Reel freigegeben + Preflight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Reel freigegeben + Preflight": {
      "main": [
        [
          {
            "node": "IF: Posting ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Reel Container erstellen": {
      "main": [
        [
          {
            "node": "Wait 90s IG Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 90s IG Processing": {
      "main": [
        [
          {
            "node": "IG: Reel Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IG: Reel Publish": {
      "main": [
        [
          {
            "node": "FB: Page Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FB: Page Video": {
      "main": [
        [
          {
            "node": "Code: SP Update Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: SP Update Payload": {
      "main": [
        [
          {
            "node": "SP: Status Veröffentlicht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Posting ready?": {
      "main": [
        [
          {
            "node": "IG: Reel Container erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SP: Status Veröffentlicht": {
      "main": [
        [
          {
            "node": "Teams: Reel veroeffentlicht melden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}