_Archiv-Workflows/PF_WF-01_v2_Konsolidiert.json
{
  "name": "PF – WF-01 Formular → SharePoint v2",
  "nodes": [
    {
      "parameters": {
        "content": "## PF – WF-01 Formular → SharePoint  ·  v2 (2026-06-08)\n\n**Zweck:** Formular-Einreichung von Judith empfangen, als neues Item in der\nSharePoint-Liste anlegen und sie via Teams über Item-ID + Foto-Dateiname informieren.\n\n**Trigger:** POST-Webhook → URL als Ziel im HTML-Formular eintragen\n\n**Status nach Einreichung:** Entwurf\n\n**Status-Flow (aktuell):**\nEntwurf → Bereit → Geplant → Veröffentlicht\n  └→ Wartet-auf-Avatar  (Reel/Übung/Story, Avatar-Flag = off)\n  └→ Geblockt           (HWG-Filter-Match, Judith prüft)\n\n**Ablauf:**\nWebhook → Felder mappen → SharePoint Item erstellen\n  ├→ HTTP-Response → Formular (inkl. Item-ID)\n  └→ Teams: Eingang melden (Item-ID + Foto-Reminder an Judith)\n\n**Änderungen v1 → v2:**\n- Teams-Node aktiviert + voll konfiguriert (Item-ID + Foto-Reminder)\n- HTTP-Response gibt Item-ID an Formular zurück\n- Sticky Notes auf aktuellen Status-Flow + Feldnamen aktualisiert\n- Veraltete Felder (Caption_Variante, Canva_Template_ID, Instagram_Post_ID) raus aus Doku",
        "height": 180,
        "width": 920,
        "color": 5
      },
      "id": "b87a588b-5e91-49cb-a120-e0b8cafa8273",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "**Feldmapping Formular → SharePoint:**\n\nThema          → Title + field_1\nPost_Typ       → field_2\nContent_Brief  → field_3\nDatum          → Ver_x00f6_ffentlichungsdatum\nUhrzeit        → field_5\nStatus         → field_6 = 'Entwurf' (auto)\nHashtag_Thema  → field_7\nBild_Dateiname → field_8  (optional, sonst von WF-02 generiert)\nFreigabe_Person→ field_11\nKommentare     → field_13\n\n**Felder von Downstream-Workflows befüllt:**\nfield_8  – Bild_Dateiname  (WF-02 v18.3)\nfield_10 – Caption         (WF-02 v18.3)\nfield_12 – Instagram_Post_ID (WF-03 v6)\n\nSite-GUID: c74040a2-0d6b-4385-b514-fbd9830a56ac\nList-GUID: d17a6a6f-e6ef-457d-a2a9-4c30ea56120f\nCredential: PF Microsoft SharePoint",
        "width": 320,
        "color": 3
      },
      "id": "969f9836-fa1b-4feb-9685-1d59a4abca4a",
      "name": "Feldmapping",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sharepoint-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c8d2fb6a-40a6-4ce3-be16-d541fb3b1e2e",
      "name": "Formular Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        288,
        448
      ],
      "webhookId": "pf-wf01-content-einreichung"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\n\n// Datum: ISO-String → \"YYYY-MM-DD\" (pure Date für SP \"Nur Datum\"-Spalten)\nfunction formatDatum(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  if (isNaN(d)) return iso;\n  const dd = String(d.getDate()).padStart(2, '0');\n  const mm = String(d.getMonth()+1).padStart(2, '0');\n  const yyyy = d.getFullYear();\n  return yyyy+'-'+mm+'-'+dd;  // ← nur Datum, ohne Zeit-Teil\n}\n\n// Pflichtfeld prüfen\nconst thema = (body.Thema || body.thema || '').trim();\nif (!thema) throw new Error('Pflichtfeld Thema fehlt');\n\nconst postTyp   = (body.Post_Typ        || body.postTyp          || 'Standard').trim();\nconst brief     = (body.Content_Brief   || body.textIdee         || '').trim();\nconst datum     = formatDatum(body.Veroeffentlichungsdatum || body.wunschDatum || '');\nconst uhrzeit   = (body.Uhrzeit         || body.uhrzeit          || '').trim();\nconst hashtag   = (body.Hashtag_Thema   || body.hashtag          || '').trim();\nconst bild      = (body.Bild_Dateiname  || body.bildBeschreibung || '').trim();\nconst freigabe  = (body.Freigabe_Person || 'Judith').trim();\nconst kommentar = (body.Kommentare      || body.notiz            || '').trim();\n\nreturn {\n  json: {\n    Title:    thema,\n    field_1:  thema,\n    field_2:  postTyp,\n    field_3:  brief,\n    field_5:  uhrzeit,\n    field_6:  'Entwurf',\n    field_7:  hashtag,\n    field_8:  bild,\n    field_11: freigabe,\n    field_13: kommentar,\n    Ver_x00f6_ffentlichungsdatum: datum,\n    _eingereichtVon: body._eingereichtVon || 'Judith',\n    _eingereichtAm:  body._eingereichtAm  || new Date().toISOString(),\n    _postTyp: postTyp,\n    _datum:   datum\n  }\n};"
      },
      "id": "0fd59f81-b865-479e-9ef4-06c5b64c0e1a",
      "name": "Felder mappen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        448
      ]
    },
    {
      "parameters": {
        "resource": "item",
        "operation": "create",
        "site": {
          "__rl": true,
          "value": "physiofuchs889.sharepoint.com,c74040a2-0d6b-4385-b514-fbd9830a56ac,7a7842d6-ea6c-440d-aeed-580bdd2a091c",
          "mode": "list",
          "cachedResultName": "Physio Fuchs Administration"
        },
        "list": {
          "__rl": true,
          "value": "d17a6a6f-e6ef-457d-a2a9-4c30ea56120f",
          "mode": "list",
          "cachedResultName": "PF-Content-Kalender-2026"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "field_13": "={{ $json.field_13 }}",
            "Title": "={{ $json.field_1 }}",
            "field_1": "={{ $json.field_1 }}",
            "field_2": "={{ $json.field_2 }}",
            "field_3": "={{ $json.field_3 }}",
            "field_5": "={{ $json.field_5 }}",
            "field_7": "={{ $json.field_7 }}",
            "field_8": "={{ $json.field_8 }}",
            "field_11": "={{ $json.field_11 }}",
            "field_6": "={{ $json.field_6}}",
            "Ver_x00f6_ffentlichungsdatum": "={{ $json.Ver_x00f6_ffentlichungsdatum }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Title",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_1",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Thema",
              "readOnly": false,
              "required": false,
              "type": "options",
              "options": [
                {
                  "name": "Praxis & Team",
                  "value": "Praxis & Team"
                },
                {
                  "name": "Knie & Hüfte",
                  "value": "Knie & Hüfte"
                },
                {
                  "name": "Sport & Prävention",
                  "value": "Sport & Prävention"
                },
                {
                  "name": "Entspannung",
                  "value": "Entspannung"
                },
                {
                  "name": "Haltung",
                  "value": "Haltung"
                },
                {
                  "name": "Schulter",
                  "value": "Schulter"
                },
                {
                  "name": "Füße & Sprunggelenk",
                  "value": "Füße & Sprunggelenk"
                },
                {
                  "name": "Wirbelsäule",
                  "value": "Wirbelsäule"
                },
                {
                  "name": "Rücken",
                  "value": "Rücken"
                },
                {
                  "name": "Herbst-Gesundheit",
                  "value": "Herbst-Gesundheit"
                }
              ]
            },
            {
              "id": "field_2",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Post_Typ",
              "readOnly": false,
              "required": false,
              "type": "options",
              "options": [
                {
                  "name": "Tipp",
                  "value": "Tipp"
                },
                {
                  "name": "Team",
                  "value": "Team"
                },
                {
                  "name": "Übung",
                  "value": "Übung"
                },
                {
                  "name": "Promo",
                  "value": "Promo"
                },
                {
                  "name": "Standard",
                  "value": "Standard"
                },
                {
                  "name": "Zitat",
                  "value": "Zitat"
                },
                {
                  "name": "Story",
                  "value": "Story"
                },
                {
                  "name": "FAQ",
                  "value": "FAQ"
                },
                {
                  "name": "Aktion",
                  "value": "Aktion"
                },
                {
                  "name": "Behind-the-Scenes",
                  "value": "Behind-the-Scenes"
                },
                {
                  "name": "Mitarbeiter:in",
                  "value": "Mitarbeiter:in"
                },
                {
                  "name": "Praxis-News",
                  "value": "Praxis-News"
                },
                {
                  "name": "Reel",
                  "value": "Reel"
                }
              ]
            },
            {
              "id": "field_3",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Content_Brief",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_5",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Uhrzeit",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_6",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Status",
              "readOnly": false,
              "required": false,
              "type": "options",
              "options": [
                {
                  "name": "Entwurf",
                  "value": "Entwurf"
                },
                {
                  "name": "Bereit",
                  "value": "Bereit"
                },
                {
                  "name": "Freigegeben",
                  "value": "Freigegeben"
                },
                {
                  "name": "Geplant",
                  "value": "Geplant"
                },
                {
                  "name": "Veröffentlicht",
                  "value": "Veröffentlicht"
                }
              ],
              "removed": false
            },
            {
              "id": "field_7",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Hashtag_Thema",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_8",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Bild_Dateiname",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_9",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Canva_Template_ID",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "field_10",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Caption_Variante",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "field_11",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Freigabe_Person",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "field_12",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Instagram_Post_ID",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": true
            },
            {
              "id": "field_13",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Kommentare",
              "readOnly": false,
              "required": false,
              "type": "string"
            },
            {
              "id": "Ver_x00f6_ffentlichungsdatum",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Veröffentlichungsdatum",
              "readOnly": false,
              "required": false,
              "type": "dateTime",
              "removed": false
            },
            {
              "id": "Bild_FB_Dateiname",
              "canBeUsedToMatch": false,
              "defaultMatch": false,
              "display": true,
              "displayName": "Bild_FB_Dateiname",
              "readOnly": false,
              "required": false,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        768,
        448
      ],
      "id": "4ccded78-395e-455e-81ed-5cfa1469ccad",
      "name": "SharePoint: Item erstellen",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "jLaDM9Iq5mCQJkMU",
          "name": "PF Microsoft SharePoint account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"message\": \"Beitrag gespeichert\", \"status\": \"Entwurf\", \"item_id\": {{ $('SharePoint: Item erstellen').first().json.id || $('SharePoint: Item erstellen').first().json.fields?.id || 0 }}, \"thema\": \"{{ $('Felder mappen').first().json.field_1 }}\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a7b9218a-d3a8-410f-9883-0ec007960072",
      "name": "HTTP Response → Formular",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1008,
        320
      ]
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "operation": "create",
        "teamId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "contentType": "html",
        "message": "=<h2>✅ Neuer Content-Eintrag</h2><p><b>Item-ID:</b> {{ $('SharePoint: Item erstellen').first().json.id }}<br><b>Thema:</b> {{ $('Felder mappen').first().json.field_1 }}<br><b>Post-Typ:</b> {{ $('Felder mappen').first().json.field_2 }}<br><b>Geplant:</b> {{ $('Felder mappen').first().json._datum }} {{ $('Felder mappen').first().json.field_5 || '10:00' }} Uhr</p><hr><h3>📷 Foto-Reminder</h3><p>Falls du ein eigenes Praxis-Foto möchtest, leg es bitte hier ab:<br><b>Teams → Physio Fuchs Administration → Socialmedia → Content_Socialmedia → Fotos → {{ new Date($('Felder mappen').first().json._datum).getFullYear() }}</b></p><p><b>Dateiname:</b><br><code>PF_{{ new Date($('Felder mappen').first().json._datum).getFullYear() }}_{{ String($('SharePoint: Item erstellen').first().json.id).padStart(3, '0') }}_thema.jpg</code></p><p><i>(Falls kein Foto: kein Problem — System nutzt automatisch ein Default-Bild aus dem Stock-Pool. Foto kann auch nachträglich hinzugefügt werden, solange der Post noch nicht live ist.)</i></p><hr><p style=\"color:#888;font-size:0.9em;\">🦊 WF-01 v2 — Pipeline läuft automatisch. Caption + Layout in ~1h, Live-Schaltung nach 24h-Karenz.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1008,
        560
      ],
      "id": "6f9a8a9c-4346-40f4-96e5-91bd371dcbb4",
      "name": "Teams: Eingang melden",
      "webhookId": "0d17356d-fe0c-4308-a4ed-8a09d39655ba",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Gmvn1OD66IZoWsXh",
          "name": "PF Microsoft Teams account"
        }
      },
      "disabled": false
    }
  ],
  "pinData": {
    "Formular Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1099163.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0",
            "content-length": "391",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "de,de-DE;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6",
            "content-type": "application/json",
            "origin": "https://gt-assistent.srv1099163.hstgr.cloud",
            "priority": "u=1, i",
            "referer": "https://gt-assistent.srv1099163.hstgr.cloud/",
            "sec-ch-ua": "\"Chromium\";v=\"148\", \"Microsoft Edge\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-site",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.srv1099163.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "345ffec08734",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "Title": "test 4",
            "Thema": "test 4",
            "Post_Typ": "Story",
            "Hashtag_Thema": "Physiotherapie",
            "Content_Brief": "test 4",
            "Veroeffentlichungsdatum": "2026-05-11",
            "Uhrzeit": "12:00",
            "Bild_Dateiname": "",
            "Freigabe_Person": "Thomas",
            "Kommentare": "test",
            "Status": "Idee",
            "Caption_Variante": "",
            "Canva_Template_ID": "",
            "Instagram_Post_ID": "",
            "_eingereichtVon": "Judith",
            "_eingereichtAm": "2026-05-11T08:55:42.446Z"
          },
          "webhookUrl": "https://n8n.srv1099163.hstgr.cloud/webhook/sharepoint-content",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Formular Webhook": {
      "main": [
        [
          {
            "node": "Felder mappen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Felder mappen": {
      "main": [
        [
          {
            "node": "SharePoint: Item erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SharePoint: Item erstellen": {
      "main": [
        [
          {
            "node": "HTTP Response → Formular",
            "type": "main",
            "index": 0
          },
          {
            "node": "Teams: Eingang melden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "wf01-v2-2026-06-08",
  "meta": {
    "instanceId": "f40c6f6af7ce2011b04be6e4c65abbc6b998ddefd762d8f282912f30a607f9b9"
  },
  "id": "tgfLHZO7e3D7snvn",
  "tags": []
}