_Archiv-Workflows/PF_WF-03_Social_Media_Post_v2.json
{
  "name": "PF – WF-03 Social Media Auto-Post",
  "nodes": [
    {
      "parameters": {
        "content": "## PF – WF-03 Social Media Auto-Post v2\n\n**Ablauf:**\nSharePoint (Status=Freigegeben)\n→ Felder aufbereiten (field_9 = Canva Design ID)\n→ Canva Export API: Design als JPG exportieren\n→ Warten auf Export (8s)\n→ Export-URL holen\n→ Instagram: Media Container + Veröffentlichen\n→ Facebook: Photo posten\n→ SharePoint: Status = Veröffentlicht\n→ Teams: Erfolgsmeldung\n\n**Credentials benötigt:**\n• Canva Connect API (Header Auth bereits angelegt)\n• PF Facebook Graph account (bereits vorhanden)\n\n**Feldmapping SharePoint:**\nfield_6  = Status (Filter: Freigegeben)\nfield_9  = Canva Design ID → Export\nfield_3  = Caption (⚠️ anpassen falls abweichend)\nAUSWEIS  = Item ID",
        "height": 240,
        "width": 1000,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "content": "**Changelog:**\n\nv2 – 2026-05-11\n• Canva Export API statt Autofill\n• field_9 = fertige Design-ID\n• Kein Text-Ersetzen nötig\n• Direkt Export → JPG-URL\n\nv1 – 2026-05-11\n• Autofill API (Enterprise required)\n• Verworfen",
        "width": 240,
        "color": 6
      },
      "id": "sticky-changelog",
      "name": "Changelog v2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2600, 240]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1, 3, 5],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Trigger: Mo/Mi/Fr 9:00 Uhr",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 360]
    },
    {
      "parameters": {
        "resource": "listItem",
        "operation": "getAll",
        "siteId": "={{ $env.SHAREPOINT_SITE_ID }}",
        "listId": "={{ $env.SHAREPOINT_LIST_ID }}",
        "returnAll": true,
        "filters": {
          "filterBy": [
            {
              "field": "field_6",
              "condition": "equal",
              "value": "Freigegeben"
            }
          ]
        },
        "options": {}
      },
      "id": "sp-get-items",
      "name": "SharePoint: Freigegebene Posts",
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [460, 360],
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "name": "Microsoft SharePoint"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.fields.field_6 }}",
              "rightValue": "Freigegeben",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-canva-id",
              "leftValue": "={{ $json.fields.field_9 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-freigegeben",
      "name": "Prüfe: Freigegeben + Canva ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 360]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "item_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "canva_design_id",
              "value": "={{ $json.fields.field_9 }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "caption",
              "value": "={{ $json.fields.field_3 }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "thema",
              "value": "={{ $json.fields.field_1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "felder-aufbereiten",
      "name": "Felder aufbereiten",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.canva.com/rest/v1/exports",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"design_id\": \"{{ $json.canva_design_id }}\",\n  \"format\": {\n    \"type\": \"jpg\",\n    \"quality\": 100\n  }\n}",
        "options": {}
      },
      "id": "canva-export-starten",
      "name": "Canva: Export starten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 240],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Canva Connect API"
        }
      }
    },
    {
      "parameters": {
        "amount": 8,
        "unit": "seconds"
      },
      "id": "warten-export",
      "name": "Warten 8s (Canva Export)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1340, 240],
      "webhookId": "wf03-wait-export"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.canva.com/rest/v1/exports/{{ $('Canva: Export starten').item.json.job.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "canva-export-url",
      "name": "Canva: Export-URL holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 240],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Canva Connect API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "image_url",
              "value": "={{ $json.job.urls[0] }}",
              "type": "string"
            },
            {
              "id": "b2",
              "name": "caption",
              "value": "={{ $('Felder aufbereiten').item.json.caption }}",
              "type": "string"
            },
            {
              "id": "b3",
              "name": "item_id",
              "value": "={{ $('Felder aufbereiten').item.json.item_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bild-url-extrahieren",
      "name": "Bild-URL extrahieren",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1780, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/17841461169626096/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "fieldsBelow",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.image_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ig-media-container",
      "name": "Instagram: Media Container erstellen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 240],
      "credentials": {
        "facebookGraphApi": {
          "name": "PF Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "warten-ig",
      "name": "Warten 15s (Instagram Processing)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2220, 240],
      "webhookId": "wf03-wait-ig"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/17841461169626096/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "fieldsBelow",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('Instagram: Media Container erstellen').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ig-publish",
      "name": "Instagram: Post veröffentlichen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 240],
      "credentials": {
        "facebookGraphApi": {
          "name": "PF Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $env.FB_PAGE_ID }}/photos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "fieldsBelow",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Bild-URL extrahieren').item.json.image_url }}"
            },
            {
              "name": "message",
              "value": "={{ $('Bild-URL extrahieren').item.json.caption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb-publish",
      "name": "Facebook: Beitrag veröffentlichen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 400],
      "credentials": {
        "facebookGraphApi": {
          "name": "PF Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "resource": "listItem",
        "operation": "update",
        "siteId": "={{ $env.SHAREPOINT_SITE_ID }}",
        "listId": "={{ $env.SHAREPOINT_LIST_ID }}",
        "itemId": "={{ $('Bild-URL extrahieren').item.json.item_id }}",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "field_6",
              "fieldValue": "Veröffentlicht"
            },
            {
              "fieldId": "field_10",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "sp-update-status",
      "name": "SharePoint: Status Veröffentlicht",
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [2660, 320],
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "name": "Microsoft SharePoint"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "teamId": "={{ $env.TEAMS_TEAM_ID }}",
        "channelId": "={{ $env.TEAMS_CHANNEL_ID }}",
        "content": "=✅ **Post veröffentlicht**\n\n📌 Thema: {{ $('Felder aufbereiten').item.json.thema }}\n📸 Instagram: {{ $('Instagram: Post veröffentlichen').item.json.id }}\n📘 Facebook: {{ $('Facebook: Beitrag veröffentlichen').item.json.id }}\n🕐 {{ $now.format('DD.MM.YYYY HH:mm') }} Uhr\n\n_Automatisch gepostet via PF Social Media Auto-Post_"
      },
      "id": "teams-success",
      "name": "Teams: Erfolgsbenachrichtigung",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [2880, 320],
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "name": "Microsoft Teams"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "end1",
              "name": "info",
              "value": "Kein freigegebener Content oder Canva ID fehlt",
              "type": "string"
            }
          ]
        }
      },
      "id": "kein-content",
      "name": "Kein Content – Ende",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 480]
    }
  ],
  "connections": {
    "Trigger: Mo/Mi/Fr 9:00 Uhr": {
      "main": [[{ "node": "SharePoint: Freigegebene Posts", "type": "main", "index": 0 }]]
    },
    "SharePoint: Freigegebene Posts": {
      "main": [[{ "node": "Prüfe: Freigegeben + Canva ID?", "type": "main", "index": 0 }]]
    },
    "Prüfe: Freigegeben + Canva ID?": {
      "main": [
        [{ "node": "Felder aufbereiten", "type": "main", "index": 0 }],
        [{ "node": "Kein Content – Ende", "type": "main", "index": 0 }]
      ]
    },
    "Felder aufbereiten": {
      "main": [[{ "node": "Canva: Export starten", "type": "main", "index": 0 }]]
    },
    "Canva: Export starten": {
      "main": [[{ "node": "Warten 8s (Canva Export)", "type": "main", "index": 0 }]]
    },
    "Warten 8s (Canva Export)": {
      "main": [[{ "node": "Canva: Export-URL holen", "type": "main", "index": 0 }]]
    },
    "Canva: Export-URL holen": {
      "main": [[{ "node": "Bild-URL extrahieren", "type": "main", "index": 0 }]]
    },
    "Bild-URL extrahieren": {
      "main": [[{ "node": "Instagram: Media Container erstellen", "type": "main", "index": 0 }]]
    },
    "Instagram: Media Container erstellen": {
      "main": [[{ "node": "Warten 15s (Instagram Processing)", "type": "main", "index": 0 }]]
    },
    "Warten 15s (Instagram Processing)": {
      "main": [[
        { "node": "Instagram: Post veröffentlichen", "type": "main", "index": 0 },
        { "node": "Facebook: Beitrag veröffentlichen", "type": "main", "index": 0 }
      ]]
    },
    "Instagram: Post veröffentlichen": {
      "main": [[{ "node": "SharePoint: Status Veröffentlicht", "type": "main", "index": 0 }]]
    },
    "Facebook: Beitrag veröffentlichen": {
      "main": [[{ "node": "SharePoint: Status Veröffentlicht", "type": "main", "index": 0 }]]
    },
    "SharePoint: Status Veröffentlicht": {
      "main": [[{ "node": "Teams: Erfolgsbenachrichtigung", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "v2-2026-05-11",
  "meta": {
    "instanceId": "f40c6f6af7ce2011b04be6e4c65abbc6b998ddefd762d8f282912f30a607f9b9"
  },
  "id": "PF-WF03-v2",
  "tags": ["physio-fuchs", "social-media", "canva", "instagram"]
}
